<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{baru.CreateTrKomentarTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{baru.CreateTrKomentarLabel_komId}" for="komId" />
                    <h:inputText id="komId" value="#{trKomentarController.selected.komId}" title="#{baru.CreateTrKomentarTitle_komId}" required="true" requiredMessage="#{baru.CreateTrKomentarRequiredMessage_komId}"/>
                    <h:outputLabel value="#{baru.CreateTrKomentarLabel_komNama}" for="komNama" />
                    <h:inputText id="komNama" value="#{trKomentarController.selected.komNama}" title="#{baru.CreateTrKomentarTitle_komNama}" />
                    <h:outputLabel value="#{baru.CreateTrKomentarLabel_komEmail}" for="komEmail" />
                    <h:inputText id="komEmail" value="#{trKomentarController.selected.komEmail}" title="#{baru.CreateTrKomentarTitle_komEmail}" />
                    <h:outputLabel value="#{baru.CreateTrKomentarLabel_komIsi}" for="komIsi" />
                    <h:inputText id="komIsi" value="#{trKomentarController.selected.komIsi}" title="#{baru.CreateTrKomentarTitle_komIsi}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trKomentarController.create}" value="#{baru.CreateTrKomentarSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{trKomentarController.prepareList}" value="#{baru.CreateTrKomentarShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{baru.CreateTrKomentarIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
