<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{baru.ListTrKomentarTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{baru.ListTrKomentarEmpty}" rendered="#{trKomentarController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trKomentarController.items.rowCount > 0}">
                    <h:outputText value="#{trKomentarController.pagination.pageFirstItem + 1}..#{trKomentarController.pagination.pageLastItem + 1}/#{trKomentarController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trKomentarController.previous}" value="#{baru.Previous} #{trKomentarController.pagination.pageSize}" rendered="#{trKomentarController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trKomentarController.next}" value="#{baru.Next} #{trKomentarController.pagination.pageSize}" rendered="#{trKomentarController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trKomentarController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{baru.ListTrKomentarTitle_komId}"/>
                            </f:facet>
                            <h:outputText value="#{item.komId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{baru.ListTrKomentarTitle_komNama}"/>
                            </f:facet>
                            <h:outputText value="#{item.komNama}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{baru.ListTrKomentarTitle_komEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.komEmail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{baru.ListTrKomentarTitle_komIsi}"/>
                            </f:facet>
                            <h:outputText value="#{item.komIsi}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trKomentarController.prepareView}" value="#{baru.ListTrKomentarViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trKomentarController.prepareEdit}" value="#{baru.ListTrKomentarEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trKomentarController.destroy}" value="#{baru.ListTrKomentarDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trKomentarController.prepareCreate}" value="#{baru.ListTrKomentarCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{baru.ListTrKomentarIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
