<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{baru.ViewTrKomentarTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{baru.ViewTrKomentarLabel_komId}"/>
                    <h:outputText value="#{trKomentarController.selected.komId}" title="#{baru.ViewTrKomentarTitle_komId}"/>
                    <h:outputText value="#{baru.ViewTrKomentarLabel_komNama}"/>
                    <h:outputText value="#{trKomentarController.selected.komNama}" title="#{baru.ViewTrKomentarTitle_komNama}"/>
                    <h:outputText value="#{baru.ViewTrKomentarLabel_komEmail}"/>
                    <h:outputText value="#{trKomentarController.selected.komEmail}" title="#{baru.ViewTrKomentarTitle_komEmail}"/>
                    <h:outputText value="#{baru.ViewTrKomentarLabel_komIsi}"/>
                    <h:outputText value="#{trKomentarController.selected.komIsi}" title="#{baru.ViewTrKomentarTitle_komIsi}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trKomentarController.destroyAndView}" value="#{baru.ViewTrKomentarDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{baru.ViewTrKomentarEditLink}"/>
                <br />
                <h:commandLink action="#{trKomentarController.prepareCreate}" value="#{baru.ViewTrKomentarCreateLink}" />
                <br />
                <h:commandLink action="#{trKomentarController.prepareList}" value="#{baru.ViewTrKomentarShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{baru.ViewTrKomentarIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
