<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:body>
     <ui:composition template="../TemplatePage.xhtml">
        
        <ui:define name="contentheader">
            <h:outputText value="Gambar Berita"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Tambah Gambar Berita"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <center><h:form enctype="multipart/form-data">
                <h:panelGrid columns="5" >
                    <h:outputLabel value="Nomor Gambar" for="namaMenu" />
                    &nbsp;&nbsp;&nbsp;&nbsp;<h:inputText class="form-control" id="namaMenu" value="#{trGambarBeritaController.selected.gbrCaption}" title="Nomor Gambar" >
                        
                    </h:inputText>
                    &nbsp;<h:message for="namaMenu" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />

                    <h:outputLabel value="File Gambar" for="image" />
                    &nbsp;<h:inputFile class="form-control"  id="image" 
                                       value="#{trGambarBeritaController.image}" title="File Gambar" />
                    &nbsp;<h:message for="image" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                     
                </h:panelGrid>
                <br />
                <h:commandButton class="flat btn-primary btn"  style="width: 100px;height: 40px" action="#{trGambarBeritaController.create}" value="Unggah Gambar" >
                    <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaUpload}" value="#{trBeritaController.idBerita}" />
                </h:commandButton>&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandButton class="flat btn-primary btn"  style="width: 100px;height: 40px" action="#{trGambarBeritaController.selesaiGambar}" value="Selesai" />
                <h:outputScript rendered="#{trGambarBeritaController.datakosong}">
                    alert("Gambar tidak bisa kosong !");
                 </h:outputScript>
                <h:outputScript rendered="#{trGambarBeritaController.gambarKosong}">
                    alert("Minimal mengunggah 1 gambar !");
                 </h:outputScript>
                <h:outputScript rendered="#{trGambarBeritaController.berhasilupload}">
                    alert("Gambar berhasil diunggah");
                 </h:outputScript>
                </h:form></center>
            
        </ui:define>
    </ui:composition>
</h:body>
</html>
