<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:body>
     <ui:composition template="../TemplatePage.xhtml">
        
        <ui:define name="contentheader">
            <h:outputText value="Berita"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Tambah Berita"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <center><h:form >
                <h:panelGrid columns="5" styleClass="jsfcrud_list_form">
                    <h:outputLabel value="Judul Berita" for="namaMenu" />
                    &nbsp;&nbsp;&nbsp;&nbsp;<h:inputText class="form-control"  required="true" 
                                                         requiredMessage="Judul berita tidak bisa kosong" id="namaMenu" value="#{trBeritaController.selected.berJudul}" title="Judul Berita" >
                        
                    </h:inputText>
                    &nbsp;<h:message for="namaMenu" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />

                    <h:outputLabel value="Konten Berita" for="keterangan" />
                    &nbsp;<p:textEditor widgetVar="editor2" required="true" 
                                        requiredMessage="Konten berita tidak bisa kosong" id="keterangan" value="#{trBeritaController.selected.berKonten}" 
                                        height="300" style="margin-bottom:10px" placeholder="Tulis konten berita" >
                            <f:facet name="toolbar">
                                 <span class="ql-formats">
                                    
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                            </f:facet>
                        </p:textEditor>
                    &nbsp;<h:message for="keterangan" errorStyle="color: red"/>
                    
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                     
                </h:panelGrid>
                    <h:dataTable value="#{trBeritaController.list}" var="item" class="table-responsive table">
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Gambar"/>
                            </f:facet>
                            <h:graphicImage value="/resources/gambar/#{item.gbrGambar}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Nomor Gambar"/>
                            </f:facet>
                            <h:outputText value="#{item.gbrCaption}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="aksi"/>
                            </f:facet>
                            <h:commandLink action="#{trGambarBeritaController.destroy}" value="Hapus"/>
                        </h:column>
                    </h:dataTable>
                <br />
                <h:commandButton class="flat btn-primary btn"  style="width: 200px;height: 40px" action="#{trBeritaController.create}" value="Tambah Gambar" />&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandButton class="flat btn-primary btn"  style="width: 200px;height: 40px" action="#{trBeritaController.update()}" value="Simpan" />
            </h:form></center>
            
        </ui:define>
    </ui:composition>
</h:body>
</html>
