<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="../TemplatePage.xhtml">

        <ui:define name="contentheader">
            <h:outputText value="Berita"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Tambah Berita"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <table id="example1" class="table table-bordered table-striped dataTable table-hover">
                    <thead>
                        <tr>
                            <th>Judul Berita</th>
                            <th>Tanggal Rilis</th>
                            <th>Konten</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat var="item" value="#{trBeritaController.daftarBerita}">
                            <tr> 
                                <td><h:outputText value="#{item.berJudul}"/></td>
                                <td><h:outputText value="#{item.berTglRilis}" >
                                    <f:convertDateTime timeZone="GMT+7" pattern="dd MMMMM yyyy" />
                                </h:outputText></td>
                                <td><h:outputText value="#{item.berKonten}" escape="false"/></td>
                                <td><h:commandButton class="btn btn-primary btn-flat" action="#{trBeritaController.prepareEdit}" value="Ubah" >
                                        <f:setPropertyActionListener target="#{trBeritaController.idberita}" value="#{item.berId}"/>
                                    </h:commandButton> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <h:commandButton class="btn btn-primary btn-flat" action="#{trBeritaController.destroy}" value="Hapus" >
                                        <f:setPropertyActionListener target="#{trBeritaController.idberita}" value="#{item.berId}"/>
                                    </h:commandButton></td>
                            </tr>
                        </ui:repeat>
                            
                    </tbody>
                </table>
                
            </h:form>
            
        </ui:define>
        
    </ui:composition>

</html>
