<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrBeritaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berId}"/>
                    <h:outputText value="#{trBeritaController.selected.berId}" title="#{bundle.ViewTrBeritaTitle_berId}"/>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berTglRilis}"/>
                    <h:outputText value="#{trBeritaController.selected.berTglRilis}" title="#{bundle.ViewTrBeritaTitle_berTglRilis}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berJudul}"/>
                    <h:outputText value="#{trBeritaController.selected.berJudul}" title="#{bundle.ViewTrBeritaTitle_berJudul}"/>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berKonten}"/>
                    <h:outputText value="#{trBeritaController.selected.berKonten}" title="#{bundle.ViewTrBeritaTitle_berKonten}"/>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berCreatedby}"/>
                    <h:outputText value="#{trBeritaController.selected.berCreatedby}" title="#{bundle.ViewTrBeritaTitle_berCreatedby}"/>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berModivedby}"/>
                    <h:outputText value="#{trBeritaController.selected.berModivedby}" title="#{bundle.ViewTrBeritaTitle_berModivedby}"/>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berCreateddate}"/>
                    <h:outputText value="#{trBeritaController.selected.berCreateddate}" title="#{bundle.ViewTrBeritaTitle_berCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrBeritaLabel_berModiveddate}"/>
                    <h:outputText value="#{trBeritaController.selected.berModiveddate}" title="#{bundle.ViewTrBeritaTitle_berModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trBeritaController.destroyAndView}" value="#{bundle.ViewTrBeritaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrBeritaEditLink}"/>
                <br />
                <h:commandLink action="#{trBeritaController.prepareCreate}" value="#{bundle.ViewTrBeritaCreateLink}" />
                <br />
                <h:commandLink action="#{trBeritaController.prepareList}" value="#{bundle.ViewTrBeritaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrBeritaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
