<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../TemplatePage.xhtml">
        
        <ui:define name="contentheader">
            <h:outputText value="Kompetisi"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Tambah Kompetisi Baru"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <center><h:form >
                <h:panelGrid columns="5" >
                    <h:outputLabel value="Nama Kompetisi" for="namaMenu" />
                    &nbsp;&nbsp;&nbsp;&nbsp;<h:inputText class="form-control" validatorMessage="Nama komepetisi harus huruf" required="true" 
                                                         requiredMessage="Nama kompetisi tidak bisa kosong" id="namaMenu" value="#{trCupController.selected.cupNamakompetisi}" title="Nama Kompetisi" >
                        <f:validateRegex pattern="[a-zA-Z ]+" />
                    </h:inputText>
                    &nbsp;<h:message for="namaMenu" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />

                    <h:outputLabel value="Penyelenggara Kompetisi" for="keterangan" />
                    &nbsp;<h:inputText class="form-control" validatorMessage="Nama penyelenggara kompetisi harus huruf" required="true" 
                                       requiredMessage="Nama penyelenggara kompetisi tidak bisa kosong" id="keterangan" value="#{trCupController.selected.cupPenyelenggara}" title="Penyelenggara Kompetisi" >
                        <f:validateRegex pattern="[a-zA-Z ]+" />
                    </h:inputText>
                    &nbsp;<h:message for="keterangan" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />

                    <h:outputLabel value="Tanggal Mulai" for="idStartDate" />
                    &nbsp;<p:calendar id="idStartDate" readonlyInput="true"
                                      value="#{trCupController.selected.cupMulai}" requiredMessage="Tanggal mulai tidak bisa kosong" title="Tanggal Mulai"
                                       navigator="true" pattern="dd MMMMM yyyy">
                        <p:ajax event="dateSelect" update="idEndDate" />
                    </p:calendar>
                
                    &nbsp;<h:message for="harga" errorStyle="color: red"/>

                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    
                    <h:outputLabel value="Tanggal Selesai" for="idEndDate" />
                    &nbsp;<p:calendar id="idEndDate" readonlyInput="true"
                                      value="#{trCupController.selected.cupAkhir}"
                                      mindate="#{trCupController.selected.cupMulai}"  requiredMessage="Tangal selesai tidak bisa kosong" 
                                      title="Tanggal Selesai"  navigator="true" pattern="dd MMMMM yyyy">
                        <p:ajax event="dateSelect"/>
                    </p:calendar>
                    &nbsp;<h:message for="cepatBasi" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    
                    
                </h:panelGrid>
                <br />
                <h:commandButton class="flat btn-primary" style="width: 100px;height: 30px" action="#{trCupController.update}" value="Ubah Data Kompetisi" />
            </h:form></center>
            
        </ui:define>
    </ui:composition>

</html>
