<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../TemplatePage.xhtml">
        
        <ui:define name="contentheader">
            <h:outputText value="Kompetisi"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Daftar Kompetisi"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <table id="example1" class="table table-bordered table-striped dataTable table-hover">
                    <thead>
                        <tr>
                            <th>Nama Kompetisi</th>
                            <th>Penyelenggara Kompetisi</th>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Selesai</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat var="item" value="#{trCupController.daftarKompetisi}">
                            <tr> 
                                <td><h:outputText value="#{item.cupNamakompetisi}"/></td>
                                <td><h:outputText value="#{item.cupPenyelenggara}"/></td>
                                <td><h:outputText value="#{item.cupMulai}" >
                                    <f:convertDateTime timeZone="GMT+7" pattern="dd MMMMM yyyy" />
                                </h:outputText></td>
                                <td><h:outputText value="#{item.cupMulai}" >
                                    <f:convertDateTime timeZone="GMT+7" pattern="dd MMMMM yyyy" />
                                </h:outputText></td>
                                <td><h:commandButton class="btn btn-primary btn-flat" action="#{trCupController.prepareEdit}" value="Ubah" >
                                        <f:setPropertyActionListener target="#{trCupController.idCup}" value="#{item.cupId}"/>
                                    </h:commandButton> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <h:commandButton class="btn btn-primary btn-flat" action="#{trCupController.destroy}" value="Hapus" >
                                        <f:setPropertyActionListener target="#{trCupController.idCup}" value="#{item.cupId}"/>
                                    </h:commandButton></td>
                            </tr>
                        </ui:repeat>
                            
                    </tbody>
                </table>
               
                
               
                <h:outputScript rendered="#{trCupController.showAlert}">
                    alert("Kompetisi tidak bisa di ubah");
                 </h:outputScript>
                <h:outputScript rendered="#{trCupController.hapus}">
                    alert("Kompetisi tidak bisa di hapus");
                 </h:outputScript>
                
                
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
