<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
    </h:head>
    <h:body>
    <ui:composition template="../TemplatePage.xhtml">
        <ui:define name="contentheader">
            <h:outputText value="Menu"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Laporan Belanja"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <center>
                <f:event type="preRenderView" listener="#{trCupController.prepareEdit2}" />
            </center>
        </ui:define>
    </ui:composition>
    </h:body>
</html>
