<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrCupTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupId}"/>
                    <h:outputText value="#{trCupController.selected.cupId}" title="#{bundle.ViewTrCupTitle_cupId}"/>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupNamakompetisi}"/>
                    <h:outputText value="#{trCupController.selected.cupNamakompetisi}" title="#{bundle.ViewTrCupTitle_cupNamakompetisi}"/>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupPenyelenggara}"/>
                    <h:outputText value="#{trCupController.selected.cupPenyelenggara}" title="#{bundle.ViewTrCupTitle_cupPenyelenggara}"/>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupMulai}"/>
                    <h:outputText value="#{trCupController.selected.cupMulai}" title="#{bundle.ViewTrCupTitle_cupMulai}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupAkhir}"/>
                    <h:outputText value="#{trCupController.selected.cupAkhir}" title="#{bundle.ViewTrCupTitle_cupAkhir}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupCreatedby}"/>
                    <h:outputText value="#{trCupController.selected.cupCreatedby}" title="#{bundle.ViewTrCupTitle_cupCreatedby}"/>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupModivedby}"/>
                    <h:outputText value="#{trCupController.selected.cupModivedby}" title="#{bundle.ViewTrCupTitle_cupModivedby}"/>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupCreateddate}"/>
                    <h:outputText value="#{trCupController.selected.cupCreateddate}" title="#{bundle.ViewTrCupTitle_cupCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrCupLabel_cupModiveddate}"/>
                    <h:outputText value="#{trCupController.selected.cupModiveddate}" title="#{bundle.ViewTrCupTitle_cupModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trCupController.destroyAndView}" value="#{bundle.ViewTrCupDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrCupEditLink}"/>
                <br />
                <h:commandLink action="#{trCupController.prepareCreate}" value="#{bundle.ViewTrCupCreateLink}" />
                <br />
                <h:commandLink action="#{trCupController.prepareList}" value="#{bundle.ViewTrCupShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrCupIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
