<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTrdtlPertandinganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_menit}" for="menit" />
                    <h:inputText id="menit" value="#{trdtlPertandinganController.selected.menit}" title="#{bundle.EditTrdtlPertandinganTitle_menit}" required="true" requiredMessage="#{bundle.EditTrdtlPertandinganRequiredMessage_menit}">
                        <f:convertDateTime pattern="HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_dtsPelanggaran}" for="dtsPelanggaran" />
                    <h:inputText id="dtsPelanggaran" value="#{trdtlPertandinganController.selected.dtsPelanggaran}" title="#{bundle.EditTrdtlPertandinganTitle_dtsPelanggaran}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_dtsTangkap}" for="dtsTangkap" />
                    <h:inputText id="dtsTangkap" value="#{trdtlPertandinganController.selected.dtsTangkap}" title="#{bundle.EditTrdtlPertandinganTitle_dtsTangkap}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_dtsLolos}" for="dtsLolos" />
                    <h:inputText id="dtsLolos" value="#{trdtlPertandinganController.selected.dtsLolos}" title="#{bundle.EditTrdtlPertandinganTitle_dtsLolos}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_msPeserta}" for="msPeserta" />
                    <h:selectOneMenu id="msPeserta" value="#{trdtlPertandinganController.selected.msPeserta}" title="#{bundle.EditTrdtlPertandinganTitle_msPeserta}" required="true" requiredMessage="#{bundle.EditTrdtlPertandinganRequiredMessage_msPeserta}">
                        <f:selectItems value="#{msPesertaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrdtlPertandinganLabel_trJadwal}" for="trJadwal" />
                    <h:selectOneMenu id="trJadwal" value="#{trdtlPertandinganController.selected.trJadwal}" title="#{bundle.EditTrdtlPertandinganTitle_trJadwal}" required="true" requiredMessage="#{bundle.EditTrdtlPertandinganRequiredMessage_trJadwal}">
                        <f:selectItems value="#{trJadwalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{trdtlPertandinganController.update}" value="#{bundle.EditTrdtlPertandinganSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTrdtlPertandinganViewLink}"/>
                <br />
                <h:commandLink action="#{trdtlPertandinganController.prepareList}" value="#{bundle.EditTrdtlPertandinganShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTrdtlPertandinganIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
