<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTrdtlPertandinganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTrdtlPertandinganEmpty}" rendered="#{trdtlPertandinganController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trdtlPertandinganController.items.rowCount > 0}">
                    <h:outputText value="#{trdtlPertandinganController.pagination.pageFirstItem + 1}..#{trdtlPertandinganController.pagination.pageLastItem + 1}/#{trdtlPertandinganController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trdtlPertandinganController.previous}" value="#{bundle.Previous} #{trdtlPertandinganController.pagination.pageSize}" rendered="#{trdtlPertandinganController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trdtlPertandinganController.next}" value="#{bundle.Next} #{trdtlPertandinganController.pagination.pageSize}" rendered="#{trdtlPertandinganController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trdtlPertandinganController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_menit}"/>
                            </f:facet>
                            <h:outputText value="#{item.menit}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_dtsPelanggaran}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtsPelanggaran}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_dtsTangkap}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtsTangkap}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_dtsLolos}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtsLolos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_msPeserta}"/>
                            </f:facet>
                            <h:outputText value="#{item.msPeserta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPertandinganTitle_trJadwal}"/>
                            </f:facet>
                            <h:outputText value="#{item.trJadwal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trdtlPertandinganController.prepareView}" value="#{bundle.ListTrdtlPertandinganViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlPertandinganController.prepareEdit}" value="#{bundle.ListTrdtlPertandinganEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlPertandinganController.destroy}" value="#{bundle.ListTrdtlPertandinganDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trdtlPertandinganController.prepareCreate}" value="#{bundle.ListTrdtlPertandinganCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTrdtlPertandinganIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
