<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrdtlPertandinganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_menit}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.menit}" title="#{bundle.ViewTrdtlPertandinganTitle_menit}">
                        <f:convertDateTime pattern="HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_dtsPelanggaran}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.dtsPelanggaran}" title="#{bundle.ViewTrdtlPertandinganTitle_dtsPelanggaran}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_dtsTangkap}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.dtsTangkap}" title="#{bundle.ViewTrdtlPertandinganTitle_dtsTangkap}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_dtsLolos}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.dtsLolos}" title="#{bundle.ViewTrdtlPertandinganTitle_dtsLolos}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_msPeserta}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.msPeserta}" title="#{bundle.ViewTrdtlPertandinganTitle_msPeserta}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPertandinganLabel_trJadwal}"/>
                    <h:outputText value="#{trdtlPertandinganController.selected.trJadwal}" title="#{bundle.ViewTrdtlPertandinganTitle_trJadwal}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trdtlPertandinganController.destroyAndView}" value="#{bundle.ViewTrdtlPertandinganDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrdtlPertandinganEditLink}"/>
                <br />
                <h:commandLink action="#{trdtlPertandinganController.prepareCreate}" value="#{bundle.ViewTrdtlPertandinganCreateLink}" />
                <br />
                <h:commandLink action="#{trdtlPertandinganController.prepareList}" value="#{bundle.ViewTrdtlPertandinganShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrdtlPertandinganIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
