<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templateAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMsKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruId}" for="kruId" />
                    <h:inputText id="kruId" value="#{msKruController.selected.kruId}" title="#{bundle.CreateMsKruTitle_kruId}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruEmail}" for="kruEmail" />
                    <h:inputText id="kruEmail" value="#{msKruController.selected.kruEmail}" title="#{bundle.CreateMsKruTitle_kruEmail}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruPassword}" for="kruPassword" />
                    <h:inputText id="kruPassword" value="#{msKruController.selected.kruPassword}" title="#{bundle.CreateMsKruTitle_kruPassword}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNamaDepan}" for="kruNamaDepan" />
                    <h:inputText id="kruNamaDepan" value="#{msKruController.selected.kruNamaDepan}" title="#{bundle.CreateMsKruTitle_kruNamaDepan}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNamaBelakang}" for="kruNamaBelakang" />
                    <h:inputText id="kruNamaBelakang" value="#{msKruController.selected.kruNamaBelakang}" title="#{bundle.CreateMsKruTitle_kruNamaBelakang}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruTglLahir}" for="kruTglLahir" />
                    <h:inputText id="kruTglLahir" value="#{msKruController.selected.kruTglLahir}" title="#{bundle.CreateMsKruTitle_kruTglLahir}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNoTlp}" for="kruNoTlp" />
                    <h:inputText id="kruNoTlp" value="#{msKruController.selected.kruNoTlp}" title="#{bundle.CreateMsKruTitle_kruNoTlp}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruFoto}" for="kruFoto" />
                    <h:inputText id="kruFoto" value="#{msKruController.selected.kruFoto}" title="#{bundle.CreateMsKruTitle_kruFoto}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruCreatedby}" for="kruCreatedby" />
                    <h:inputText id="kruCreatedby" value="#{msKruController.selected.kruCreatedby}" title="#{bundle.CreateMsKruTitle_kruCreatedby}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruModivedby}" for="kruModivedby" />
                    <h:inputText id="kruModivedby" value="#{msKruController.selected.kruModivedby}" title="#{bundle.CreateMsKruTitle_kruModivedby}" />
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruCreateddate}" for="kruCreateddate" />
                    <h:inputText id="kruCreateddate" value="#{msKruController.selected.kruCreateddate}" title="#{bundle.CreateMsKruTitle_kruCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsKruLabel_kruModiveddate}" for="kruModiveddate" />
                    <h:inputText id="kruModiveddate" value="#{msKruController.selected.kruModiveddate}" title="#{bundle.CreateMsKruTitle_kruModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msKruController.create}" value="#{bundle.CreateMsKruSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{msKruController.prepareList}" value="#{bundle.CreateMsKruShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMsKruIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
