<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMsKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruId}" for="kruId" />
                    <h:inputText id="kruId" value="#{msKruController.selected.kruId}" title="#{bundle.EditMsKruTitle_kruId}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruEmail}" for="kruEmail" />
                    <h:inputText id="kruEmail" value="#{msKruController.selected.kruEmail}" title="#{bundle.EditMsKruTitle_kruEmail}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruPassword}" for="kruPassword" />
                    <h:inputText id="kruPassword" value="#{msKruController.selected.kruPassword}" title="#{bundle.EditMsKruTitle_kruPassword}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruNamaDepan}" for="kruNamaDepan" />
                    <h:inputText id="kruNamaDepan" value="#{msKruController.selected.kruNamaDepan}" title="#{bundle.EditMsKruTitle_kruNamaDepan}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruNamaBelakang}" for="kruNamaBelakang" />
                    <h:inputText id="kruNamaBelakang" value="#{msKruController.selected.kruNamaBelakang}" title="#{bundle.EditMsKruTitle_kruNamaBelakang}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruTglLahir}" for="kruTglLahir" />
                    <h:inputText id="kruTglLahir" value="#{msKruController.selected.kruTglLahir}" title="#{bundle.EditMsKruTitle_kruTglLahir}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruNoTlp}" for="kruNoTlp" />
                    <h:inputText id="kruNoTlp" value="#{msKruController.selected.kruNoTlp}" title="#{bundle.EditMsKruTitle_kruNoTlp}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruFoto}" for="kruFoto" />
                    <h:inputText id="kruFoto" value="#{msKruController.selected.kruFoto}" title="#{bundle.EditMsKruTitle_kruFoto}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruCreatedby}" for="kruCreatedby" />
                    <h:inputText id="kruCreatedby" value="#{msKruController.selected.kruCreatedby}" title="#{bundle.EditMsKruTitle_kruCreatedby}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruModivedby}" for="kruModivedby" />
                    <h:inputText id="kruModivedby" value="#{msKruController.selected.kruModivedby}" title="#{bundle.EditMsKruTitle_kruModivedby}" />
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruCreateddate}" for="kruCreateddate" />
                    <h:inputText id="kruCreateddate" value="#{msKruController.selected.kruCreateddate}" title="#{bundle.EditMsKruTitle_kruCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMsKruLabel_kruModiveddate}" for="kruModiveddate" />
                    <h:inputText id="kruModiveddate" value="#{msKruController.selected.kruModiveddate}" title="#{bundle.EditMsKruTitle_kruModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{msKruController.update}" value="#{bundle.EditMsKruSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMsKruViewLink}"/>
                <br />
                <h:commandLink action="#{msKruController.prepareList}" value="#{bundle.EditMsKruShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMsKruIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
