<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMsKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMsKruEmpty}" rendered="#{msKruController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{msKruController.items.rowCount > 0}">
                    <h:outputText value="#{msKruController.pagination.pageFirstItem + 1}..#{msKruController.pagination.pageLastItem + 1}/#{msKruController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{msKruController.previous}" value="#{bundle.Previous} #{msKruController.pagination.pageSize}" rendered="#{msKruController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{msKruController.next}" value="#{bundle.Next} #{msKruController.pagination.pageSize}" rendered="#{msKruController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{msKruController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruId}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruEmail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruPassword}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruPassword}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruNamaDepan}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruNamaDepan}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruNamaBelakang}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruNamaBelakang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruTglLahir}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruTglLahir}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruNoTlp}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruNoTlp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruFoto}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruFoto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruCreatedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruCreatedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruModivedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruModivedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruCreateddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruCreateddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsKruTitle_kruModiveddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.kruModiveddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{msKruController.prepareView}" value="#{bundle.ListMsKruViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msKruController.prepareEdit}" value="#{bundle.ListMsKruEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msKruController.destroy}" value="#{bundle.ListMsKruDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{msKruController.prepareCreate}" value="#{bundle.ListMsKruCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMsKruIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
