<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMsKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruId}"/>
                    <h:outputText value="#{msKruController.selected.kruId}" title="#{bundle.ViewMsKruTitle_kruId}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruEmail}"/>
                    <h:outputText value="#{msKruController.selected.kruEmail}" title="#{bundle.ViewMsKruTitle_kruEmail}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruPassword}"/>
                    <h:outputText value="#{msKruController.selected.kruPassword}" title="#{bundle.ViewMsKruTitle_kruPassword}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruNamaDepan}"/>
                    <h:outputText value="#{msKruController.selected.kruNamaDepan}" title="#{bundle.ViewMsKruTitle_kruNamaDepan}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruNamaBelakang}"/>
                    <h:outputText value="#{msKruController.selected.kruNamaBelakang}" title="#{bundle.ViewMsKruTitle_kruNamaBelakang}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruTglLahir}"/>
                    <h:outputText value="#{msKruController.selected.kruTglLahir}" title="#{bundle.ViewMsKruTitle_kruTglLahir}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruNoTlp}"/>
                    <h:outputText value="#{msKruController.selected.kruNoTlp}" title="#{bundle.ViewMsKruTitle_kruNoTlp}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruFoto}"/>
                    <h:outputText value="#{msKruController.selected.kruFoto}" title="#{bundle.ViewMsKruTitle_kruFoto}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruCreatedby}"/>
                    <h:outputText value="#{msKruController.selected.kruCreatedby}" title="#{bundle.ViewMsKruTitle_kruCreatedby}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruModivedby}"/>
                    <h:outputText value="#{msKruController.selected.kruModivedby}" title="#{bundle.ViewMsKruTitle_kruModivedby}"/>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruCreateddate}"/>
                    <h:outputText value="#{msKruController.selected.kruCreateddate}" title="#{bundle.ViewMsKruTitle_kruCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsKruLabel_kruModiveddate}"/>
                    <h:outputText value="#{msKruController.selected.kruModiveddate}" title="#{bundle.ViewMsKruTitle_kruModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msKruController.destroyAndView}" value="#{bundle.ViewMsKruDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMsKruEditLink}"/>
                <br />
                <h:commandLink action="#{msKruController.prepareCreate}" value="#{bundle.ViewMsKruCreateLink}" />
                <br />
                <h:commandLink action="#{msKruController.prepareList}" value="#{bundle.ViewMsKruShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMsKruIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
