<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMsLapanganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapId}" for="lapId" />
                    <h:inputText id="lapId" value="#{msLapanganController.selected.lapId}" title="#{bundle.CreateMsLapanganTitle_lapId}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapNama}" for="lapNama" />
                    <h:inputText id="lapNama" value="#{msLapanganController.selected.lapNama}" title="#{bundle.CreateMsLapanganTitle_lapNama}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapAlamat}" for="lapAlamat" />
                    <h:inputText id="lapAlamat" value="#{msLapanganController.selected.lapAlamat}" title="#{bundle.CreateMsLapanganTitle_lapAlamat}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapFoto}" for="lapFoto" />
                    <h:inputText id="lapFoto" value="#{msLapanganController.selected.lapFoto}" title="#{bundle.CreateMsLapanganTitle_lapFoto}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapCreatedby}" for="lapCreatedby" />
                    <h:inputText id="lapCreatedby" value="#{msLapanganController.selected.lapCreatedby}" title="#{bundle.CreateMsLapanganTitle_lapCreatedby}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapModivedby}" for="lapModivedby" />
                    <h:inputText id="lapModivedby" value="#{msLapanganController.selected.lapModivedby}" title="#{bundle.CreateMsLapanganTitle_lapModivedby}" />
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapCreateddate}" for="lapCreateddate" />
                    <h:inputText id="lapCreateddate" value="#{msLapanganController.selected.lapCreateddate}" title="#{bundle.CreateMsLapanganTitle_lapCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsLapanganLabel_lapModivedate}" for="lapModivedate" />
                    <h:inputText id="lapModivedate" value="#{msLapanganController.selected.lapModivedate}" title="#{bundle.CreateMsLapanganTitle_lapModivedate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msLapanganController.create}" value="#{bundle.CreateMsLapanganSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{msLapanganController.prepareList}" value="#{bundle.CreateMsLapanganShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMsLapanganIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
