<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMsLapanganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMsLapanganEmpty}" rendered="#{msLapanganController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{msLapanganController.items.rowCount > 0}">
                    <h:outputText value="#{msLapanganController.pagination.pageFirstItem + 1}..#{msLapanganController.pagination.pageLastItem + 1}/#{msLapanganController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{msLapanganController.previous}" value="#{bundle.Previous} #{msLapanganController.pagination.pageSize}" rendered="#{msLapanganController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{msLapanganController.next}" value="#{bundle.Next} #{msLapanganController.pagination.pageSize}" rendered="#{msLapanganController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{msLapanganController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapId}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapNama}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapNama}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapAlamat}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapAlamat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapFoto}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapFoto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapCreatedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapCreatedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapModivedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapModivedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapCreateddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapCreateddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsLapanganTitle_lapModivedate}"/>
                            </f:facet>
                            <h:outputText value="#{item.lapModivedate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{msLapanganController.prepareView}" value="#{bundle.ListMsLapanganViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msLapanganController.prepareEdit}" value="#{bundle.ListMsLapanganEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msLapanganController.destroy}" value="#{bundle.ListMsLapanganDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{msLapanganController.prepareCreate}" value="#{bundle.ListMsLapanganCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMsLapanganIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
