<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMsLapanganTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapId}"/>
                    <h:outputText value="#{msLapanganController.selected.lapId}" title="#{bundle.ViewMsLapanganTitle_lapId}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapNama}"/>
                    <h:outputText value="#{msLapanganController.selected.lapNama}" title="#{bundle.ViewMsLapanganTitle_lapNama}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapAlamat}"/>
                    <h:outputText value="#{msLapanganController.selected.lapAlamat}" title="#{bundle.ViewMsLapanganTitle_lapAlamat}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapFoto}"/>
                    <h:outputText value="#{msLapanganController.selected.lapFoto}" title="#{bundle.ViewMsLapanganTitle_lapFoto}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapCreatedby}"/>
                    <h:outputText value="#{msLapanganController.selected.lapCreatedby}" title="#{bundle.ViewMsLapanganTitle_lapCreatedby}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapModivedby}"/>
                    <h:outputText value="#{msLapanganController.selected.lapModivedby}" title="#{bundle.ViewMsLapanganTitle_lapModivedby}"/>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapCreateddate}"/>
                    <h:outputText value="#{msLapanganController.selected.lapCreateddate}" title="#{bundle.ViewMsLapanganTitle_lapCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsLapanganLabel_lapModivedate}"/>
                    <h:outputText value="#{msLapanganController.selected.lapModivedate}" title="#{bundle.ViewMsLapanganTitle_lapModivedate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msLapanganController.destroyAndView}" value="#{bundle.ViewMsLapanganDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMsLapanganEditLink}"/>
                <br />
                <h:commandLink action="#{msLapanganController.prepareCreate}" value="#{bundle.ViewMsLapanganCreateLink}" />
                <br />
                <h:commandLink action="#{msLapanganController.prepareList}" value="#{bundle.ViewMsLapanganShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMsLapanganIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
