<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMsPesertaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesId}" for="pesId" />
                    <h:inputText id="pesId" value="#{msPesertaController.selected.pesId}" title="#{bundle.CreateMsPesertaTitle_pesId}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNim}" for="pesNim" />
                    <h:inputText id="pesNim" value="#{msPesertaController.selected.pesNim}" title="#{bundle.CreateMsPesertaTitle_pesNim}" required="true" requiredMessage="#{bundle.CreateMsPesertaRequiredMessage_pesNim}"/>
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesUsernameTim}" for="pesUsernameTim" />
                    <h:inputText id="pesUsernameTim" value="#{msPesertaController.selected.pesUsernameTim}" title="#{bundle.CreateMsPesertaTitle_pesUsernameTim}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNamaDepan}" for="pesNamaDepan" />
                    <h:inputText id="pesNamaDepan" value="#{msPesertaController.selected.pesNamaDepan}" title="#{bundle.CreateMsPesertaTitle_pesNamaDepan}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNamaBelakang}" for="pesNamaBelakang" />
                    <h:inputText id="pesNamaBelakang" value="#{msPesertaController.selected.pesNamaBelakang}" title="#{bundle.CreateMsPesertaTitle_pesNamaBelakang}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesTglLahir}" for="pesTglLahir" />
                    <h:inputText id="pesTglLahir" value="#{msPesertaController.selected.pesTglLahir}" title="#{bundle.CreateMsPesertaTitle_pesTglLahir}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesRole}" for="pesRole" />
                    <h:inputText id="pesRole" value="#{msPesertaController.selected.pesRole}" title="#{bundle.CreateMsPesertaTitle_pesRole}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesFoto}" for="pesFoto" />
                    <h:inputText id="pesFoto" value="#{msPesertaController.selected.pesFoto}" title="#{bundle.CreateMsPesertaTitle_pesFoto}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesCreatedby}" for="pesCreatedby" />
                    <h:inputText id="pesCreatedby" value="#{msPesertaController.selected.pesCreatedby}" title="#{bundle.CreateMsPesertaTitle_pesCreatedby}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesModivedby}" for="pesModivedby" />
                    <h:inputText id="pesModivedby" value="#{msPesertaController.selected.pesModivedby}" title="#{bundle.CreateMsPesertaTitle_pesModivedby}" />
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesCreateddate}" for="pesCreateddate" />
                    <h:inputText id="pesCreateddate" value="#{msPesertaController.selected.pesCreateddate}" title="#{bundle.CreateMsPesertaTitle_pesCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesModiveddate}" for="pesModiveddate" />
                    <h:inputText id="pesModiveddate" value="#{msPesertaController.selected.pesModiveddate}" title="#{bundle.CreateMsPesertaTitle_pesModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msPesertaController.create}" value="#{bundle.CreateMsPesertaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{msPesertaController.prepareList}" value="#{bundle.CreateMsPesertaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMsPesertaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
