<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMsPesertaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesId}" for="pesId" />
                    <h:inputText id="pesId" value="#{msPesertaController.selected.pesId}" title="#{bundle.EditMsPesertaTitle_pesId}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesNim}" for="pesNim" />
                    <h:inputText id="pesNim" value="#{msPesertaController.selected.pesNim}" title="#{bundle.EditMsPesertaTitle_pesNim}" required="true" requiredMessage="#{bundle.EditMsPesertaRequiredMessage_pesNim}"/>
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesUsernameTim}" for="pesUsernameTim" />
                    <h:inputText id="pesUsernameTim" value="#{msPesertaController.selected.pesUsernameTim}" title="#{bundle.EditMsPesertaTitle_pesUsernameTim}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesNamaDepan}" for="pesNamaDepan" />
                    <h:inputText id="pesNamaDepan" value="#{msPesertaController.selected.pesNamaDepan}" title="#{bundle.EditMsPesertaTitle_pesNamaDepan}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesNamaBelakang}" for="pesNamaBelakang" />
                    <h:inputText id="pesNamaBelakang" value="#{msPesertaController.selected.pesNamaBelakang}" title="#{bundle.EditMsPesertaTitle_pesNamaBelakang}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesTglLahir}" for="pesTglLahir" />
                    <h:inputText id="pesTglLahir" value="#{msPesertaController.selected.pesTglLahir}" title="#{bundle.EditMsPesertaTitle_pesTglLahir}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesRole}" for="pesRole" />
                    <h:inputText id="pesRole" value="#{msPesertaController.selected.pesRole}" title="#{bundle.EditMsPesertaTitle_pesRole}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesFoto}" for="pesFoto" />
                    <h:inputText id="pesFoto" value="#{msPesertaController.selected.pesFoto}" title="#{bundle.EditMsPesertaTitle_pesFoto}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesCreatedby}" for="pesCreatedby" />
                    <h:inputText id="pesCreatedby" value="#{msPesertaController.selected.pesCreatedby}" title="#{bundle.EditMsPesertaTitle_pesCreatedby}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesModivedby}" for="pesModivedby" />
                    <h:inputText id="pesModivedby" value="#{msPesertaController.selected.pesModivedby}" title="#{bundle.EditMsPesertaTitle_pesModivedby}" />
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesCreateddate}" for="pesCreateddate" />
                    <h:inputText id="pesCreateddate" value="#{msPesertaController.selected.pesCreateddate}" title="#{bundle.EditMsPesertaTitle_pesCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMsPesertaLabel_pesModiveddate}" for="pesModiveddate" />
                    <h:inputText id="pesModiveddate" value="#{msPesertaController.selected.pesModiveddate}" title="#{bundle.EditMsPesertaTitle_pesModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{msPesertaController.update}" value="#{bundle.EditMsPesertaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMsPesertaViewLink}"/>
                <br />
                <h:commandLink action="#{msPesertaController.prepareList}" value="#{bundle.EditMsPesertaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMsPesertaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
