<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMsPesertaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMsPesertaEmpty}" rendered="#{msPesertaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{msPesertaController.items.rowCount > 0}">
                    <h:outputText value="#{msPesertaController.pagination.pageFirstItem + 1}..#{msPesertaController.pagination.pageLastItem + 1}/#{msPesertaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{msPesertaController.previous}" value="#{bundle.Previous} #{msPesertaController.pagination.pageSize}" rendered="#{msPesertaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{msPesertaController.next}" value="#{bundle.Next} #{msPesertaController.pagination.pageSize}" rendered="#{msPesertaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{msPesertaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesId}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesNim}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesNim}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesUsernameTim}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesUsernameTim}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesNamaDepan}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesNamaDepan}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesNamaBelakang}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesNamaBelakang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesTglLahir}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesTglLahir}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesRole}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesRole}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesFoto}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesFoto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesCreatedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesCreatedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesModivedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesModivedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesCreateddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesCreateddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsPesertaTitle_pesModiveddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesModiveddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{msPesertaController.prepareView}" value="#{bundle.ListMsPesertaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msPesertaController.prepareEdit}" value="#{bundle.ListMsPesertaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msPesertaController.destroy}" value="#{bundle.ListMsPesertaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{msPesertaController.prepareCreate}" value="#{bundle.ListMsPesertaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMsPesertaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
