<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMsPesertaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesId}"/>
                    <h:outputText value="#{msPesertaController.selected.pesId}" title="#{bundle.ViewMsPesertaTitle_pesId}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesNim}"/>
                    <h:outputText value="#{msPesertaController.selected.pesNim}" title="#{bundle.ViewMsPesertaTitle_pesNim}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesUsernameTim}"/>
                    <h:outputText value="#{msPesertaController.selected.pesUsernameTim}" title="#{bundle.ViewMsPesertaTitle_pesUsernameTim}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesNamaDepan}"/>
                    <h:outputText value="#{msPesertaController.selected.pesNamaDepan}" title="#{bundle.ViewMsPesertaTitle_pesNamaDepan}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesNamaBelakang}"/>
                    <h:outputText value="#{msPesertaController.selected.pesNamaBelakang}" title="#{bundle.ViewMsPesertaTitle_pesNamaBelakang}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesTglLahir}"/>
                    <h:outputText value="#{msPesertaController.selected.pesTglLahir}" title="#{bundle.ViewMsPesertaTitle_pesTglLahir}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesRole}"/>
                    <h:outputText value="#{msPesertaController.selected.pesRole}" title="#{bundle.ViewMsPesertaTitle_pesRole}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesFoto}"/>
                    <h:outputText value="#{msPesertaController.selected.pesFoto}" title="#{bundle.ViewMsPesertaTitle_pesFoto}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesCreatedby}"/>
                    <h:outputText value="#{msPesertaController.selected.pesCreatedby}" title="#{bundle.ViewMsPesertaTitle_pesCreatedby}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesModivedby}"/>
                    <h:outputText value="#{msPesertaController.selected.pesModivedby}" title="#{bundle.ViewMsPesertaTitle_pesModivedby}"/>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesCreateddate}"/>
                    <h:outputText value="#{msPesertaController.selected.pesCreateddate}" title="#{bundle.ViewMsPesertaTitle_pesCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsPesertaLabel_pesModiveddate}"/>
                    <h:outputText value="#{msPesertaController.selected.pesModiveddate}" title="#{bundle.ViewMsPesertaTitle_pesModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msPesertaController.destroyAndView}" value="#{bundle.ViewMsPesertaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMsPesertaEditLink}"/>
                <br />
                <h:commandLink action="#{msPesertaController.prepareCreate}" value="#{bundle.ViewMsPesertaCreateLink}" />
                <br />
                <h:commandLink action="#{msPesertaController.prepareList}" value="#{bundle.ViewMsPesertaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMsPesertaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
