/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size   : 14px;
    line-height : 21px;
    color       : #444444;
    font-weight : 300;
    background: #f2f1f1;
    }
/*-- banner --*/
.banner{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 0em 0 0em;
}
.banner-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.header-top {
	outline:none;
}
.agile-logo {
    float: left;
    margin-top: 1em;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    font-size: 1em;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}
.w3l-banner-grids {
	padding: 18em 0 0 0;
}
.header-right{
	float: right;
}
.container.banner-drop.nav-open{
    margin-top: 6em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*
  menu icon css3
*/
.menu-icon {
    position: relative;
    display: block;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin: 1em 0 0 0;
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color:#FFFFFF;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}
.site-section {
  padding: 7em 0;
}
.navbar > .container {
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767.98px) {
  .navbar > .container {
    border-bottom: none;
  }
}
.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.single_right_coloum ul{margin:0; padding:0; list-style:none}
.single_right_coloum ul li{border-bottom:1px dotted #ddd}
.single_right_coloum ul li:last-child{border-bottom:none}
.single_cat_right_content{padding-bottom:10px;margin-left:10px;}
.single_cat_right_content h3{margin-top:10px;}
.content_area{margin-top:25px}
.main_content{width:1300px}
.left_coloum{width:1000px}
.right_coloum{width:300px}
.single_right_coloum{margin-bottom:20px}
.single_left_coloum{margin-left:10px; width:300px}
.single_left_coloum_wrapper{position:relative; margin-left:-10px; margin-bottom:30px}
.single_left_coloum_wrapper .title{margin-left:10px}
.title{margin-left:10px}
.title{border-bottom:4px solid #CF0000; font-family:'bebasregular'; font-size:20px; word-spacing:2px}
.more{background:url("images/plus.png") no-repeat scroll 57px 9px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:4px 20px; position:absolute; right:0; text-transform:uppercase; top:10px}
single_left_coloum{margin-left:10px; width:143px}
.readmore, .single_cat_right_content_meta span{color:#CF0000; font-size:10px; text-transform:uppercase; font-weight:bold; margin-right:20px}
.readmore:hover, .single_cat_right_content_meta span:hover{color:#CF0000; text-decoration:underline}

.center{width:1100px; display:block; margin:0 auto; background:#fff; transition:all 1.3s ease 0s; -moz-transition:all 1.3s ease 0s; -webkit-transition:all 1.3s ease 0s; -o-transition:all 1.3s ease 0s; -ms-transition:all 1.3s ease 0s}
div{overflow:visible}
.slider{height:500px; overflow:visible}
.bxslider, .bx-viewport, .bx-controls, .bx-pager, .bx-controls-direction{overflow:visible}
.slider{display:block; position:relative; width:100%; margin:0; padding:0;}
.slider *{margin:0; padding:0;}
.slider img{max-width:100%;}


/*Baca Berita*/
/* --------------------
   main Wrapper
   -------------------*/


/* --------------------
   main Wrapper
   -------------------*/
#main-wrapper{
    width: 100%;
    overflow: hidden;
}

/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-------------------------------*/
 /* --------------------
   Top Bar
   -------------------*/

/* --------------------
   Nevigation
   -------------------*/

.navbar {
    border-radius  : 0;
    padding        : 15px 0;
    background     : transparent;
    margin         : 0;
    font-size      : 15px;
    text-transform : uppercase;
    }
.navbar-toggle:hover {
    color: #ff6102;
    }

.navbar-toggle .icon-bar {
    background: #000;
}
.main-menu .nav li a {
    color       : #000000;
    font-weight : 400;
    padding     : 15px 15px 15px 0px;
    font-size   : 14px;
    font-family: 'Oswald', sans-serif;
    }

.main-menu .nav li a:hover,
.main-menu .nav li.active a {
    color      : #ff6102;
    background : transparent;
    }

.main-menu .nav li a:focus {
    background : transparent;
    }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background:none;
    color:#000;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    color:#ff6102;
}

.dropdown ul.dropdown-menu{
    background:#fff;
    padding:10px;
}
.dropdown ul.dropdown-menu li a{
    padding:0;
    line-height:32px;
}

@media (max-width : 991px) {
    .main-menu .nav li a {
        padding     : 10px;
        }
    .navbar{
        padding-top: 0;
    } 
    .main-menu .nav li a {
        font-size: 12px;
    } 
}

@media (max-width : 767px) {
    .main-menu .nav li {
        text-align : center;
        }

    .main-menu .nav li a {
        padding : 5px 0;
        color: #0e1555;
        font-size: 14px;
        line-height: 22px;
        }

    .navbar-collapse {
        margin-top : 10px;
        background: #fff;
        width: 100%;
        }
    .navbar .container .navbar-header{
        position: fixed;
        top: 0;
        background: #ff6102;
        border-radius: 0 0 5px 5px;
    } 
    .navbar-toggle{
        margin: 0;
    }
    .navbar-inverse .navbar-toggle {
        border-bottom-color: #ff6102;
        border-left-color: #ff6102;
        border-right-color: #ff6102;
        border-top-color: #ff6102;
    }
    .navbar .container > .navbar-collapse{
        background: #f2f1f1;
    }
    .navbar{
        min-height: 0;
        padding: 0;
    } 
    #custom-search-input{
        margin-bottom: 20px;
    }
    .sidebar-offcanvas .pull-right{
        display:none;
    }
}
/******************Search************/
.navbar-form{
    margin:0;
    padding:0;
    float:right;
    }
.form-control:focus{
    -webkit-box-shadow:0 0 0;
    box-shadow:0 0 0;
    border-color:#000;
}
.form-control{
    background: none;
    border-top: 0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 35px;
    width: 100%;

}
.btn-default{
    background:none;
    border-radius:0px;
    height:50px;
    border-bottom:1px solid #000;
    border-left:0px;
    border-top:0px;
    border-right:0px;
}
.btn-default:hover{
    background:none;

}
@media (max-width: 1000px) {
    .pull-right,.navbar-form{
        float:none !important;
        text-align:center;
    }
    .input-group{
        margin:0 auto;
        text-align:center;

     }
}
/* --------------------
   Feature carousel Section
   -------------------*/
.feature_news_carousel{
    background: #fff;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/*Carousal Control*/
.control-wrapper{
    position:absolute;
    top:0;
    right:0;
    width:60px;
}
.carousel-control{
    top:40%;
    width:30px;
    height:30px;
    line-height:30px;
    font-size:12px;
    background:rgba(0, 0, 0, 0.3);
    display:block;
    text-shadow:none;
}
.carousel-control.left,
.carousel-control.right{
    background-image: none;
}
.feature_news_carousel .carousel-control{
    opacity: 2;
}
/* --------------------
   Feature News Section
   -------------------*/
.category_layout{
    padding-top: 30px;
    background: #fff;
    margin-bottom: 30px;
}
.category_layout .item_caregory{
    text-align: left !important;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
    margin-left:30px;
}
.category_layout .item_caregory h2{
    margin:0;
    font-size:18px;
}
.red{
   background: #f72300;
}
.blue{
   background: #3a98c9;
}
.teal{
    background: #0ed6ca;
}
.item_caregory a{
    color: #fff;
}
.red:hover{
    background: rgba(247, 35, 0, 0.7);
}
.blue:hover{
    background:rgba(58, 152, 201, 0.84);
}
.teal:hover{
    background: rgba(14, 214, 202, 0.84);
}
.feature_news_item{
    background: #fff;
    text-align: center;
}
.item_wrapper{
    position: relative;
}
.item_title_date{
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    padding:25px 30px 0;
}
.news_item_title h2{
    font-size: 18px;
    margin: 0 0 10px;
}
.item_meta{
    font-size: 11px;
    color: #767676;
    margin-bottom:3px;
}
.item_meta a{
    color:#767676;
}
.item_meta a:hover{
    color:#f72300;
}
.item_content{
    padding:10px 15% 30px;
}
@media (max-width: 1024px) {
    .category_layout .media h3.media-heading{
        font-size:11px;
    }
    .category_layout p{
        font-size:12px;
        line-height:18px;
    }

}
@media (max-width: 980px) {
     .category_layout .media h3.media-heading{
            font-size:15px;
     }
     .category_layout p{
            font-size:14px;
            line-height:21px;
     }
    .feature_news_static .item_title_date{
        left:30%;
        right:30%;
    }
    .feature_news_static .item_content{
        padding-left:30%;
        padding-right:30%;
    }
    .item_img img{
        margin:0 auto;
        border-bottom:1px solid #fff;
    }
    .more_news_item .item_title_date{
        left:30%;
        right:30%;
    }
    .more_news_item .item_content{
        padding-left:30%;
        padding-right:30%;
    }
}
@media (max-width: 599px) {
    .feature_news_static .item_title_date{
        left:10%;
        right:10%;
    }
    .feature_news_static .item_content{
        padding-left:15%;
        padding-right:15%;
    }
    .more_news_item .item_title_date{
        left:10%;
        right:10%;
    }
    .more_news_item .item_content{
         padding-left:15%;
         padding-right:15%;
    }

}


 
/* --------------------
   Feature Tab
    -------------------*/

.sitebar{
	background: #fff;
    margin-bottom: 30px;
}
.tab .nav-tabs li{
	width: 50%;
	border:0px;
  	border-radius: 0px;
    text-align: center;

}
.tab .nav-tabs li a {
  
	background: #000;
	color: #fff;
	margin-right: 0;
	border:0px;
	border-radius: 0px;
	text-transform: uppercase;
	font-family: "Oswald",sans-serif;
}
.tab .nav-tabs li.active a{
	 background: #ff6102;
	 border:0px;
	 color: #fff;
}
.tab .tab-content {
	color : white; 
	padding : 15px 15px;
}
.tab .media{
	border-bottom:0px solid #f00;
    padding: 15px 0;
    border-top: 0px;
	margin: 0 0;
}
.rating i{
    color:#ff6102;
    font-size:11px;
}
.tab .media h4{
	font-size: 14px;
}
.ad{
    margin:0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.ad img{
    margin-bottom: 3px;
    display:inline-block;
}
.facebook{
    text-align: center;
}
.most_comment{
    background:#fff;
    padding:20px 15px;
}
.most_comment .media{
    border:0px;
}
.comment_box{
    margin-top:15px;
}
.comment_box .comments_icon{
    float:left;
}
.comment_box .comments_icon i{
    width:16px;
    height:16px;
    line-height:16px;
    text-align:center;
    color:#fff;
    font-size:11px;
    background:#a5a5a5;
    vertical-align:middle;
}
.comment_box .comments a{
    color:#b3b3b3;
    font-size:12px;
    margin:0 10px;
    float:left;
}
.comment_box .comments a:hover{
    color:#ff6102;
}
@media (max-width: 1024px) {
    .ad img{
        margin:0 auto 2px;
    }
    .media h3.media-heading{
        font-size:11px !important;
    }
    .comment_box .comments a {
        font-size: 10px !important;
        margin: 0 4px !important;
    }
}
@media (max-width: 900px) {

    .tab .tab-content{
        padding:20px 30px;
    }
    .most_comment {
        padding:20px 30px;
    }
    .media h3.media-heading{
            font-size:15px !important;
        }
        .comment_box .comments a {
            font-size: 12px !important;
            margin: 0 10px !important;
        }
}



/* --------------------
   Feature List Item
   -------------------*/
.media:first-child{

    padding-top: 0px;
    border-top:0;
}
.single_content_layout .media:first-child{
    padding-top:15px;
    border-top:1px solid #e5e5e5;
}
.single_content_layout .media_wrapper{
    padding-right:0;
}
/*** Media ***/
.media_wrapper{
    padding-right:30px;
}
.media{
    border-top: 1px solid #e5e5e5;
    padding-top:15px;
    margin-bottom:15px;
}
.media-left, .media > .pull-left{
    padding-right:15px;
}
.media h3.media-heading{

    font-size:15px;
}
.media span.rating{
    display: block;
    padding-top:6px;
}
.media_meta{
    font-size: 11px;
    color: #767676;
}
.media_meta a{
     color: #767676;
}
.media_meta a:hover {
    color: #f72300;
}
@media (max-width: 768px) {
    .media_wrapper{
        padding-left:30px;
    }
    .single_related_news .media_wrapper{
        padding:0px;
    }
}


/*-------------------
 * Single Page
 *-------------------*/

.single_content_layout{
    background: #fff;
    padding:30px;
}
.single_content_layout .news_item_title h2{
     padding:10px 0 0;
     font-size:26px;
}
.single_content_layout .item_wrapper{
    text-align: left;
}
.single_content_layout .news_item_title{
    padding:10px 0 5px;
}
.single_content_layout .item_wrapper .item_content{
    padding:20px 0;
}
.single_related_news{
    padding:15px 0;
}
.single_content_layout .media-heading{
    margin-bottom:0;
}
.single_content_layout .media_content p{
    margin-bottom:0;
}
.readers_comment{
    padding:20px 0;
}
.reply{
    padding-bottom:0px !important;
    margin-bottom:0;
}
.comment_article_social{
    padding:10px 0 0;
    text-align:right;
}
.comment_article_social i{
    width:20px;
    height:20px;
    line-height:20px;
    background:#ebebeb;
    text-align:center;
    color:#747474;
}
.comment_article_social .reply_ic{
    background:#ff6102;
    padding:2px 5px;
    vertical-align:top;
    color:#fff;
    font-size:12px;

}
/***Category List***/
.category_list {
    padding:15px 0;

}
.category_list a{
    padding:5px 10px;
    background:#ebebeb;
    color:#747474;
    margin:3px 1px;
    display:inline-block;
}
.category_list a:hover{
    color:#ff6102;
}
.m-t-2{
    margin:20px 0 0;
}
.single_content_layout .ad{
    padding:20px 0 0;
    margin-bottom:20px;
}

.readers_comment .media{
    padding:15px 0 0 ;

}

.add_a_comment h3{
    text-transform: uppercase;
}
.comment_form{
    background: #ebebeb;
    padding: 40px 30px;
    overflow: hidden;
}
.form-control{
    border-radius: 0;
    height:50px;
    box-shadow: 0px 0px;
}
.form_section{
    width: 50%;
    margin-bottom: 15px;
}
.comment_form .form-group{
    width: 100%;

    background:#fff;
    margin:0 0 10px 0;

}
.comment_form .form-control{
    border:0px;
}
.comment_form textarea.form-control{
    min-height:100px;
}
.comment_form .btn-submit{
    background:#f72300;
    padding:10px 20px;
    border-radius:0px;
    color:#fff;
    text-transform:uppercase;


}

 @media (max-width: 767px) {
     .comment_form .form-group{
        margin:10px 0;
        width:100%;
     }
     .comment_form .form-group.comment{
        width:100%;
     }
     .comment_form .btn-submit{
        margin:0;
     }
}


.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #007bff;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}
.category {
  display: inline-block;
  background: #007bff;
  padding: 2px 8px;
  line-height: 1.5;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff !important;
  margin-right: 10px;
}
.a-block .text.half-to-full {
  max-width: 50%;
}

@media (max-width: 767.98px) {
  .a-block .text.half-to-full {
    max-width: 100%;
  }
}
.post-entry-horzontal {
  margin-bottom: 30px;
}

.post-entry-horzontal a {
  display: table;
}

.post-entry-horzontal a .image, .post-entry-horzontal a .text {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767.98px) {
  .post-entry-horzontal a .image, .post-entry-horzontal a .text {
    display: block;
  }
}

.post-entry-horzontal a .image {
  width: 200px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .post-entry-horzontal a .image {
    width: 100%;
    height: 200px;
  }
}

.post-entry-horzontal a .text {
  padding: 30px;
  width: calc(100 - 200px);
  border: 1px solid #e6e6e6;
  border-left: none;
}

@media (max-width: 767.98px) {
  .post-entry-horzontal a .text {
    width: 100%;
    height: 200px;
    border: 1px solid #e6e6e6;
    border-top: none;
  }
}

.post-entry-horzontal a .text h2 {
  font-size: 20px;
}

.post-entry-horzontal a .text p {
  color: #999999;
  margin-bottom: 30px;
}

.post-entry-horzontal a:hover {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.a-block {
  display: block;
  background-size: cover;
  background-position: center center;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}

.a-block.height-lg {
  height: 500px;
}

.a-block.height-md {
  height: 400px;
}

.a-block:before {
  background: #000;
  position: absolute;
  content: "";
  z-index: 1;
  opacity: .3;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-block .text {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.site-section.py-md {
  padding: 3em 0;
}

.site-section.py-sm {
  padding: 0em 0;
}
.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  right: 0em;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#FFFFFF;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
  -moz-transform: translateY(-0.75em);
  -o-transform: translateY(-0.75em);
  -ms-transform: translateY(-0.75em);
}

.menu-icon > span:after {
  -webkit-transform: translateY(0.75em);
  transform: translateY(0.75em);
  -moz-transform: translateY(0.75em);
  -o-transform: translateY(0.75em);
  -ms-transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.header-right nav ul {
    padding: 0;
    margin: 0;
}
.header-right nav {
    position: absolute;
    top: -128%;
    left: 15%;
    color: #999;
}
.header-right nav ul li.animate {
  top: 0;
}
.header-right nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1em 2em;
  cursor: pointer;
  position: relative;
  top: -8em;
}
.header-right nav ul li:nth-child(1) {
  -moz-transition: top 0.3s ease 0.15s;
  -o-transition: top 0.3s ease 0.15s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: top 0.3s ease 0.15s;
  transition: top 0.3s ease 0.15s;
}
.header-right nav ul li:nth-child(2) {
  -moz-transition: top 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0.2s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.2s;
  -webkit-transition: top 0.3s ease 0.2s;
  transition: top 0.3s ease 0.2s;
}
.header-right nav ul li:nth-child(3) {
  -moz-transition: top 0.3s ease 0.25s;
  -o-transition: top 0.3s ease 0.25s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.25s;
  -webkit-transition: top 0.3s ease 0.25s;
  transition: top 0.3s ease 0.25s;
}
.header-right nav ul li:nth-child(4) {
  -moz-transition: top 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0.3s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: top 0.3s ease 0.3s;
  transition: top 0.3s ease 0.3s;
}
.header-right nav ul li:nth-child(5) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  -webkit-transition: top 0.3s ease 0.35s;
  transition: top 0.3s ease 0.35s;
}
.header-right nav ul li:nth-child(6) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  -webkit-transition: top 0.3s ease 0.35s;
  transition: top 0.3s ease 0.35s;
}
.header-right nav ul li:nth-child(7) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  -webkit-transition: top 0.3s ease 0.35s;
  transition: top 0.3s ease 0.35s;
}
.header-right nav ul li:hover {
  opacity: 1;
}
.header-right nav ul li.active a{
    color: #11c3fe;
}
.header-right nav ul li a{
    color: #212121;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}
.header-right nav ul li a span{
    display: block;
}
.header-right nav ul li a span:hover{
    color: #11c3fe;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.container {
    margin: 0 auto;
    -moz-transition: all 0.3s ease 0.6s;
    -o-transition: all 0.3s ease 0.6s;
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0.6s;
    -webkit-transition: all 0.3s ease 0.6s;
    transition: all 0.3s ease 0.6s;
    z-index: 10;
    position: relative;
	-o-transition-delay: 0.1s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
}
.container.nav-open .header-right nav {
    z-index: 1;
}
.w3layouts-slider {
    padding: 13em 0;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
	left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left:0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 163%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
	background: rgba(255, 255, 255, 0.14);
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #11c3fe;
    border: 2px solid #11c3fe;
}
/*-- //slider --*/
.agileits-banner-left {
    text-align: center;
}
.agileits-banner-left h3{
    color: #FFFFFF;
    font-size: 3em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.agileits-banner-left h4{
	color: #FFFFFF;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: .5em 0 0 0;
}
.agileinfo-banner-right{
	text-align:center;
}
.agileinfo-banner-right p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0 auto;
    width: 62%;
}
.banner-border{
	height: 1px;
    background: #FFFFFF;
    width: 14%;
    margin: 2em auto;
}
.w3-button {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
.w3-button a {
    color: #FFFFFF;
    font-size: .9em;
    padding: .5em 1em;
    border: solid 1px #FFFFFF;
    text-decoration: none;
    margin: 0;
    background: none;
}
.w3-button a:hover{
	background:#11c3fe;
	border: solid 1px #11c3fe;
}
.w3-button a:focus{
	outline:none;
}
/*-- //banner --*/
/*-- modal --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    color: #212121;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //modal --*/
/*-- about --*/
.w3-agileits-about-left{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    min-height: 498px;
    background-size: cover;
}
.agile-about-right{
    padding: 5em;
    text-align: center;
    background: #e5eff1;
}
.agile-about-right h2,.services-top-left h3,.w3ls-heading h3{
    color: #212121;
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.agile-about-right h5{
	color: #212121;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
}
.agile-about-right p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}
.agile-about-right p span{
	display:block;
	margin:1em 0 0 0;
}
/*-- //about --*/
/*-- services --*/
.services,.gallery,.blog,.team,.contact,footer{
	padding:4em 0;
}
.services-top-left h5,.w3ls-heading h5{
    color: #999999;
    font-size: .9em;
    margin: 0;
    text-transform: capitalize;
}
.services-top-left,.services-top-right,.services-left{
    padding-left: 0;
}
.services-top-left p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.w3-agile-services-grids {
    margin: 2em 0 0 0;
}
.services-grid-icon{
    text-align: center;
    padding: 2em 0;
    border: solid 1px #d2d2d2;
}
.services-grid-icon i.fa.fa-cogs,.services-grid-icon i.fa.fa-thumbs-up,.services-grid-icon i.fa.fa-user,.services-grid-icon i.fa.fa-road,.services-grid-icon i.fa.fa-comments,.services-grid-icon i.fa.fa-certificate,.services-grid-icon i.fa.fa-bell,.services-grid-icon i.fa.fa-asterisk,.services-grid-icon i.fa.fa-anchor,.services-grid-icon i.fa.fa-cog{
    color: #b2b2b2;
    font-size: 2em;
}
.services-grid-icon p{
	color:#212121;
	font-size:1em;
	margin:1em 0 0 0;
	font-weight:600;
}
.services-grid-icon:hover{
	background:#11c3fe;
	border: solid 1px #11c3fe;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.services-grid-icon:hover  i.fa.fa-cogs,.services-grid-icon:hover i.fa.fa-thumbs-up,.services-grid-icon:hover  i.fa.fa-user,.services-grid-icon:hover i.fa.fa-road,.services-grid-icon:hover  i.fa.fa-comments,.services-grid-icon:hover i.fa.fa-certificate,.services-grid-icon:hover  i.fa.fa-bell,.services-grid-icon:hover i.fa.fa-asterisk,.services-grid-icon:hover  i.fa.fa-anchor,.services-grid-icon:hover i.fa.fa-cog{
	color:#FFFFFF;
}
.services-icons-bottom{
	margin:2em 0 0 0;
}
/*-- //services --*/
/*-- gallery --*/
.gallery{
    background: #e5eff1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
    cursor: default;
    background: #11c3fe;
    border: solid 1px #11c3fe;
}
.nav-tabs > li > a {
	margin-right: 3px;
    font-size: 1em;
    color: #212121;
    border: solid 1px #212121;
    padding: .5em 1em;
    border-radius: 0;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
	border-bottom: none;
    margin: 4em 0 4em 13em;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
}
.nav-tabs > li > a:hover {
	color: #FFFFFF;
    background: #11c3fe;
    border: solid 1px #11c3fe;
}
.w3_tab_img_left {
    padding: 0;
}
/*-- //gallery --*/
/*-- blog --*/
.blog{
	
}
.agile-blog-grids{
	margin:4em 0 0 0;
}
.agile-blog-grid-img img{
    width: 100%;
    margin: 0 0 1em 0;
}
.agile-blog-grid-img a{
	color:#212121;
	font-size:1em;
	font-weight:600;
	margin:.5em 0;
	text-decoration:none;
}
.agile-blog-grid-img a:hover{
	color:#11c3fe;
}
.agile-blog-grid-img a:focus{
	outline:none;
}
.agile-blog-grid-img p{
	color:#999999;
	font-size:.9em;
	margin:.5em 0 0 0;
}
.agile-blog-grid-img p a{
	color:#11c3fe;
	text-decoration:none;
}
.agile-blog-grid-img p a:hover{
	color:#212121;
}
.agile-blog-grid-info {
    margin: 1em 0 0 0;
}
.agile-blog-grid-info p{
	color:#999999;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
/*-- //blog --*/
/*-- team --*/
.team{
    background: #e5eff1;
}
.agileinfo-team-grids{
	margin:4em 0 0 0;
}
.wthree-team-grid img{
	width:100%;
}
.wthree-team-grid-info{
	padding:1em;
	background:#FFFFFF;
}
.wthree-team-grid h4 {
    font-size: 1em;
    color: #11c3fe;
    margin: 0;
    font-weight: 600;
}
.wthree-team-grid p {
    margin:.5em 0;
    color: #999999;
    font-size: .9em;
}
.team-social-grids ul {
    padding: 0;
    margin: 0;
}
.team-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.team-social-grids ul li a {
    text-align: center;
}
.team-social-grids ul li a i.fa.fa-facebook, .team-social-grids ul li a i.fa.fa-twitter, .team-social-grids ul li a i.fa.fa-rss{
	height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #b2b2b2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
/*-- //team --*/
/*-- contact --*/
.contact-form {
    margin: 4em 0 0 0;
}
.contact-form input[type="text"] {
	display: inline-block;
	background: none;
	border:solid 1px #999999;
	width: 31.9%;
	outline: none;
	padding:1em;
	font-size: .9em;
	color: #999999;
	margin-bottom: 1.5em;
}
.contact-form input[type="email"] {
	display: inline-block;
	background: none;
	border:solid 1px #999999;
	width: 31.9%;
	outline: none;
	padding:1em;
	font-size: .9em;
	color: #999999;
	margin-bottom: 1.5em;
	margin: 0 1.25em;
}
.contact-form textarea {
    display: inline-block;
    background: none;
    border: solid 1px #999999;
    width: 100%;
    outline: none;
    padding: 1em;
    font-size: .9em;
    color: #999999;
    margin-bottom: 1.5em;
	resize:none;
    min-height: 150px;
}
.contact input[type="submit"]{
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 1px #11c3fe;
    text-align: center;
    text-decoration: none;
    background: #11c3fe;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="submit"]:hover {
	background: none;
    color: #212121;
    border: solid 1px #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //contact --*/
/*-- map --*/
.agileits-w3layouts-map iframe{
	width:100%;
	height:350px;
	border:none;
}
/*-- //map --*/
/*-- footer --*/
.footer-grid h4{
	color:#212121;
	font-size:1.5em;
	letter-spacing:1px;
	font-weight:600;
	margin:0 0 1em 0;
}
.footer-grid ul{
	padding:0;
	margin:0;
}
.footer-grid ul li{
    display: block;
    margin: .5em 0;
    color: #999999;
    font-size: .9em;
}
.footer-grid ul li a{
	color:#999999;
	font-size:.9em;
	text-decoration:none;
}
.footer-grid ul li a:hover{
	color:#11c3fe;
}
.footer-grid-left{
	padding-left:0;
}
.footer-grid ul li span{
	color:#212121;
	font-weight:600;
}
.footer-grid p{
	color:#999999;
	font-size:.9em;
	margin:0 0 1em 0;
}
.footer-grid input[type="text"] {
    display: inline-block;
    background: #FFFFFF;
    width: 70%;
    outline: none;
    padding: .5em;
    font-size: .9em;
    color: #999999;
    border: solid 1px #999999;
}
.footer-grid button.btn1 {
    color: #FFFFFF;
    font-size: .9em;
    border: none;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    background: #11c3fe;
    border: solid 1px #11c3fe;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-grid button.btn1:hover {
    background: none;
    color: #212121;
    border: solid 1px #212121;
}
/*-- //footer --*/
/*-- copyright --*/
.copyright{
	background:#212121;
	padding:1em 0;
	text-align:center;
}
.copyright p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.copyright p a{
	color:#11c3fe;
	text-decoration:none;
	margin:0;
}
.copyright p a:hover{
	color:#FFFFFF;
}
/*-- //copyright --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	.nav-tabs {
		margin: 4em 0 4em 6em;
	}
}
@media(max-width:1366px){
	.w3-agileits-about-left {
		min-height: 547px;
	}
}
@media(max-width:1280px){
	.nav-tabs {
		margin: 4em 0 4em 3em;
	}
}
@media(max-width:1080px){
	.w3-agileits-about-left {
		min-height: 598px;
	}
	.contact-form input[type="text"] {
		width: 31.7%;
	}
	.header-right nav ul li {
		margin: 1em 1em;
	}
	.header-right nav {
		left: 21%;
	}
}
@media(max-width:1024px){
	.agile-about-right {
		padding: 3em;
	}
	.w3layouts-slider {
		padding: 10em 0;
	}
	.callbacks_tabs {
		top: 145%;
	}
	.w3-agileits-about-left {
		min-height: 484px;
	}
}
@media(max-width:991px){
	.agileits-banner-left {
		margin: 0 0 1em 0;
	}
	.callbacks_tabs {
		top: 124%;
		left: 47%;
	}
	.w3layouts-slider {
		padding: 8em 0;
	}
	.w3-agileits-about-left {
		min-height: 508px;
		float: left;
		width: 50%;
	}
	.agile-about-right {
		float: left;
		width: 50%;
	}
	.services-top-left, .services-top-right, .services-left {
		padding-left: 1em;
	}
	.services-top-left {
		margin: 0 0 2em 0;
	}
	.services-left {
		margin: 2em 0 0 0;
	}
	.w3_tab_img_left {
		float: left;
		width: 50%;
	}
	.agile-blog-grid {
		float: left;
		width: 33.33%;
	}
	.wthree-team-grid {
		float: left;
		width: 50%;
	}
	.wthree-team-grid:nth-child(3),.wthree-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.contact-form input[type="text"] {
		width: 31%;
	}
	.footer-grid:nth-child(2) {
		margin: 2em 0;
	}
	.header-right nav {
		left: 10%;
	}
}
@media(max-width:800px){
	.agile-about-right {
		padding: 2em;
	}
	.w3-agileits-about-left {
		background: url(../images/2.jpg) no-repeat -191px 0px;
		background-size: cover;
		min-height: 550px;
	}
}
@media(max-width:768px){
	.w3-agileits-about-left {
		min-height: 576px;
	}
	.services-grid {
		float: left;
		width: 50%;
	}
	.contact-form input[type="text"] {
		width: 30.6%;
	}
}
@media(max-width:667px){
	.w3layouts-slider {
		padding: 6em 0;
	}
	.callbacks_tabs {
		top: 111%;
		left: 46%;
	}
	.w3-agileits-about-left {
		background: url(../images/2.jpg) no-repeat -303px 0px;
		background-size: cover;
		min-height: 650px;
	}
	.contact-form input[type="text"] {
		width: 30%;
	}
	.header-right nav ul li {
		margin: 1em .5em;
	}
	.header-right nav {
		left: 13%;
	}
}
@media(max-width:640px){
	.w3-agileits-about-left {
		background: url(../images/2.jpg) no-repeat 0px 0px;
		background-size: cover;
		min-height: 414px;
		float: none;
		width: 100%;
	}
	.agile-about-right {
		float: none;
		width: 100%;
	}
	.nav-tabs {
		margin: 2em 0 2em 1em;
	}
	.agile-blog-grid {
		float: none;
		width: 100%;
	}
	.agile-blog-grid:nth-child(2){
		margin:2em 0;
	}
}
@media(max-width:600px){
	.header-right nav {
		left: 9%;
	}
	.agileits-banner-left h3 {
		font-size: 2em;
	}
	.agile-about-right h2, .services-top-left h3, .w3ls-heading h3 {
		font-size: 2em;
	}
	.nav-tabs > li > a {
		font-size: .9em;
	}
}
@media(max-width:568px){
	.header-right nav {
		left: 7%;
	}
	.w3-agileits-about-left {
		min-height: 360px;
	}
	.nav-tabs > li {
		margin: 0 3px;
	}
	.contact-form input[type="email"] {
		width: 31.3%;
	}
}
@media(max-width:480px){
	.agileinfo-banner-right p {
		width: 70%;
	}
	.w3layouts-slider {
		padding: 5em 0;
	}
	.w3-agileits-about-left {
		min-height: 307px;
	}
	.nav-tabs > li {
		margin: 0 0px 5px 0;
	}
	.header-right nav ul li a {
		font-size: .9em;
	}
	.header-right nav {
		left: 2%;
	}
	.contact-form input[type="text"] {
		width: 100%;
		margin: 0 0 1em 0;
	}
	.contact-form input[type="email"] {
		width: 100%;
		margin: 0 0 1em 0;
	}
}
@media(max-width:414px){
	.banner-border {
		margin: 1em auto;
	}
	.agileinfo-banner-right p {
		width: 80%;
	}
	.w3layouts-slider {
		padding: 3em 0;
	}
	.callbacks_tabs {
		top: 100%;
		left: 43%;
	}
	.w3-agileits-about-left {
		min-height: 260px;
	}
	.services, .gallery, .blog, .team, .contact, footer {
		padding: 2em 0;
	}
	.services-grid {
		float: none;
		width: 100%;
	}
	.services-grid:nth-child(2) {
		margin: 1em 0 0 0;
	}
	.w3-agile-services-grids {
		margin: 1em 0 0 0;
	}
	.services-left {
		margin: 1em 0 0 0;
	}
	.services-icons-bottom {
		margin: 1em 0 0 0;
	}
	.agile-blog-grids {
		margin: 2em 0 0 0;
	}
	.agileinfo-team-grids {
		margin: 2em 0 0 0;
	}
	.wthree-team-grid-info {
		padding: .5em;
	}
	.contact-form {
		margin: 2em 0 0 0;
	}
}
@media(max-width:384px){
	.callbacks_nav {
		width: 32px;
		height: 32px;
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 191%;
	}
	.agileits-banner-left h3 {
		font-size: 1.5em;
	}
	.agileinfo-banner-right p {
		width: 90%;
	}
	.banner {
		background: url(../images/1.jpg) no-repeat -96px 0px;
		background-size: cover;	
	}
	.w3-agileits-about-left {
		min-height: 234px;
	}
	.wthree-team-grid {
		float: none;
		width: 100%;
	}
	.wthree-team-grid-info {
		padding: 1em;
	}
	.wthree-team-grid:nth-child(2),.wthree-team-grid:nth-child(3), .wthree-team-grid:nth-child(4) {
		margin: 1em 0 0 0;
	}
}
@media(max-width:375px){
	.header-right nav ul li a {
		font-size: .8em;
	}
	.header-right nav ul li {
		margin: .5em .2em;
	}
	.container.banner-drop.nav-open {
		margin-top: 4em;
	}
	.header-right nav {
		top: -90%;
	}
	.agile-logo h1 a {
		font-size: .9em;
	}
	.agileits-w3layouts-map iframe {
		height: 250px;
	}
}
@media(max-width:320px){
	.agile-logo h1 a {
		font-size: .8em;
	}
	.header-right nav ul li {
		margin: .5em .1em;
	}
	.header-right nav ul li a {
		font-size: .9em;
	}
	.container.banner-drop.nav-open {
		margin-top: 13em;
	}
	.header-right nav ul li {
		display: block;
	}
	.header-right nav {
		top: -365%;
		left: 35%;
	}
	.agileits-banner-left h4 {
		font-size: .8em;
	}
	.w3layouts-slider {
		padding: 2em 0;
	}
	.w3-agileits-about-left {
		min-height: 200px;
	}
	.agile-about-right h2, .services-top-left h3, .w3ls-heading h3 {
		font-size: 1.5em;
	}
	.agile-about-right h5 {
		font-size: .9em;
	}
	.modal-header h4 {
		font-size: 1.5em;
	}
	.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
		padding: .5em;
	}
}
/*-- //responsive --*/