<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMsTimTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timId}" for="timId" />
                    <h:inputText id="timId" value="#{msTimController.selected.timId}" title="#{bundle.CreateMsTimTitle_timId}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timEmail}" for="timEmail" />
                    <h:inputText id="timEmail" value="#{msTimController.selected.timEmail}" title="#{bundle.CreateMsTimTitle_timEmail}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timPassword}" for="timPassword" />
                    <h:inputText id="timPassword" value="#{msTimController.selected.timPassword}" title="#{bundle.CreateMsTimTitle_timPassword}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timNama}" for="timNama" />
                    <h:inputText id="timNama" value="#{msTimController.selected.timNama}" title="#{bundle.CreateMsTimTitle_timNama}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timLambang}" for="timLambang" />
                    <h:inputText id="timLambang" value="#{msTimController.selected.timLambang}" title="#{bundle.CreateMsTimTitle_timLambang}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timCreateby}" for="timCreateby" />
                    <h:inputText id="timCreateby" value="#{msTimController.selected.timCreateby}" title="#{bundle.CreateMsTimTitle_timCreateby}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timModivedby}" for="timModivedby" />
                    <h:inputText id="timModivedby" value="#{msTimController.selected.timModivedby}" title="#{bundle.CreateMsTimTitle_timModivedby}" />
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timCreateddate}" for="timCreateddate" />
                    <h:inputText id="timCreateddate" value="#{msTimController.selected.timCreateddate}" title="#{bundle.CreateMsTimTitle_timCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMsTimLabel_timModiveddate}" for="timModiveddate" />
                    <h:inputText id="timModiveddate" value="#{msTimController.selected.timModiveddate}" title="#{bundle.CreateMsTimTitle_timModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msTimController.create}" value="#{bundle.CreateMsTimSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{msTimController.prepareList}" value="#{bundle.CreateMsTimShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMsTimIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
