<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMsTimTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMsTimEmpty}" rendered="#{msTimController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{msTimController.items.rowCount > 0}">
                    <h:outputText value="#{msTimController.pagination.pageFirstItem + 1}..#{msTimController.pagination.pageLastItem + 1}/#{msTimController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{msTimController.previous}" value="#{bundle.Previous} #{msTimController.pagination.pageSize}" rendered="#{msTimController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{msTimController.next}" value="#{bundle.Next} #{msTimController.pagination.pageSize}" rendered="#{msTimController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{msTimController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timId}"/>
                            </f:facet>
                            <h:outputText value="#{item.timId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.timEmail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timPassword}"/>
                            </f:facet>
                            <h:outputText value="#{item.timPassword}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timNama}"/>
                            </f:facet>
                            <h:outputText value="#{item.timNama}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timLambang}"/>
                            </f:facet>
                            <h:outputText value="#{item.timLambang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timCreateby}"/>
                            </f:facet>
                            <h:outputText value="#{item.timCreateby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timModivedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.timModivedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timCreateddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.timCreateddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMsTimTitle_timModiveddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.timModiveddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{msTimController.prepareView}" value="#{bundle.ListMsTimViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msTimController.prepareEdit}" value="#{bundle.ListMsTimEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{msTimController.destroy}" value="#{bundle.ListMsTimDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{msTimController.prepareCreate}" value="#{bundle.ListMsTimCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMsTimIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
