<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMsTimTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMsTimLabel_timId}"/>
                    <h:outputText value="#{msTimController.selected.timId}" title="#{bundle.ViewMsTimTitle_timId}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timEmail}"/>
                    <h:outputText value="#{msTimController.selected.timEmail}" title="#{bundle.ViewMsTimTitle_timEmail}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timPassword}"/>
                    <h:outputText value="#{msTimController.selected.timPassword}" title="#{bundle.ViewMsTimTitle_timPassword}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timNama}"/>
                    <h:outputText value="#{msTimController.selected.timNama}" title="#{bundle.ViewMsTimTitle_timNama}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timLambang}"/>
                    <h:outputText value="#{msTimController.selected.timLambang}" title="#{bundle.ViewMsTimTitle_timLambang}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timCreateby}"/>
                    <h:outputText value="#{msTimController.selected.timCreateby}" title="#{bundle.ViewMsTimTitle_timCreateby}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timModivedby}"/>
                    <h:outputText value="#{msTimController.selected.timModivedby}" title="#{bundle.ViewMsTimTitle_timModivedby}"/>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timCreateddate}"/>
                    <h:outputText value="#{msTimController.selected.timCreateddate}" title="#{bundle.ViewMsTimTitle_timCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMsTimLabel_timModiveddate}"/>
                    <h:outputText value="#{msTimController.selected.timModiveddate}" title="#{bundle.ViewMsTimTitle_timModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{msTimController.destroyAndView}" value="#{bundle.ViewMsTimDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMsTimEditLink}"/>
                <br />
                <h:commandLink action="#{msTimController.prepareCreate}" value="#{bundle.ViewMsTimCreateLink}" />
                <br />
                <h:commandLink action="#{msTimController.prepareList}" value="#{bundle.ViewMsTimShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMsTimIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
