<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTrJadwalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadId}" for="jadId" />
                    <h:inputText id="jadId" value="#{trJadwalController.selected.jadId}" title="#{bundle.EditTrJadwalTitle_jadId}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadTgl}" for="jadTgl" />
                    <h:inputText id="jadTgl" value="#{trJadwalController.selected.jadTgl}" title="#{bundle.EditTrJadwalTitle_jadTgl}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadJam}" for="jadJam" />
                    <h:inputText id="jadJam" value="#{trJadwalController.selected.jadJam}" title="#{bundle.EditTrJadwalTitle_jadJam}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadNilaiTandang}" for="jadNilaiTandang" />
                    <h:inputText id="jadNilaiTandang" value="#{trJadwalController.selected.jadNilaiTandang}" title="#{bundle.EditTrJadwalTitle_jadNilaiTandang}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadNilaiKandang}" for="jadNilaiKandang" />
                    <h:inputText id="jadNilaiKandang" value="#{trJadwalController.selected.jadNilaiKandang}" title="#{bundle.EditTrJadwalTitle_jadNilaiKandang}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadTimMenang}" for="jadTimMenang" />
                    <h:inputText id="jadTimMenang" value="#{trJadwalController.selected.jadTimMenang}" title="#{bundle.EditTrJadwalTitle_jadTimMenang}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadStatus}" for="jadStatus" />
                    <h:inputText id="jadStatus" value="#{trJadwalController.selected.jadStatus}" title="#{bundle.EditTrJadwalTitle_jadStatus}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadCreatedby}" for="jadCreatedby" />
                    <h:inputText id="jadCreatedby" value="#{trJadwalController.selected.jadCreatedby}" title="#{bundle.EditTrJadwalTitle_jadCreatedby}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadModivedby}" for="jadModivedby" />
                    <h:inputText id="jadModivedby" value="#{trJadwalController.selected.jadModivedby}" title="#{bundle.EditTrJadwalTitle_jadModivedby}" />
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadCreateddate}" for="jadCreateddate" />
                    <h:inputText id="jadCreateddate" value="#{trJadwalController.selected.jadCreateddate}" title="#{bundle.EditTrJadwalTitle_jadCreateddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadModiveddate}" for="jadModiveddate" />
                    <h:inputText id="jadModiveddate" value="#{trJadwalController.selected.jadModiveddate}" title="#{bundle.EditTrJadwalTitle_jadModiveddate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadLapangan}" for="jadLapangan" />
                    <h:selectOneMenu id="jadLapangan" value="#{trJadwalController.selected.jadLapangan}" title="#{bundle.EditTrJadwalTitle_jadLapangan}" required="true" requiredMessage="#{bundle.EditTrJadwalRequiredMessage_jadLapangan}">
                        <f:selectItems value="#{msLapanganController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadTimKandang}" for="jadTimKandang" />
                    <h:selectOneMenu id="jadTimKandang" value="#{trJadwalController.selected.jadTimKandang}" title="#{bundle.EditTrJadwalTitle_jadTimKandang}" >
                        <f:selectItems value="#{msTimController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadTimTandang}" for="jadTimTandang" />
                    <h:selectOneMenu id="jadTimTandang" value="#{trJadwalController.selected.jadTimTandang}" title="#{bundle.EditTrJadwalTitle_jadTimTandang}" >
                        <f:selectItems value="#{msTimController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadBerId}" for="jadBerId" />
                    <h:selectOneMenu id="jadBerId" value="#{trJadwalController.selected.jadBerId}" title="#{bundle.EditTrJadwalTitle_jadBerId}" >
                        <f:selectItems value="#{trBeritaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrJadwalLabel_jadCupId}" for="jadCupId" />
                    <h:selectOneMenu id="jadCupId" value="#{trJadwalController.selected.jadCupId}" title="#{bundle.EditTrJadwalTitle_jadCupId}" >
                        <f:selectItems value="#{trCupController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{trJadwalController.update}" value="#{bundle.EditTrJadwalSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTrJadwalViewLink}"/>
                <br />
                <h:commandLink action="#{trJadwalController.prepareList}" value="#{bundle.EditTrJadwalShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTrJadwalIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
