<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTrJadwalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTrJadwalEmpty}" rendered="#{trJadwalController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trJadwalController.items.rowCount > 0}">
                    <h:outputText value="#{trJadwalController.pagination.pageFirstItem + 1}..#{trJadwalController.pagination.pageLastItem + 1}/#{trJadwalController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trJadwalController.previous}" value="#{bundle.Previous} #{trJadwalController.pagination.pageSize}" rendered="#{trJadwalController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trJadwalController.next}" value="#{bundle.Next} #{trJadwalController.pagination.pageSize}" rendered="#{trJadwalController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trJadwalController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadId}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadTgl}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadTgl}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadJam}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadJam}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadNilaiTandang}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadNilaiTandang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadNilaiKandang}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadNilaiKandang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadTimMenang}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadTimMenang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadStatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadStatus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadCreatedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadCreatedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadModivedby}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadModivedby}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadCreateddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadCreateddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadModiveddate}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadModiveddate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadLapangan}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadLapangan}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadTimKandang}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadTimKandang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadTimTandang}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadTimTandang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadBerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadBerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrJadwalTitle_jadCupId}"/>
                            </f:facet>
                            <h:outputText value="#{item.jadCupId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trJadwalController.prepareView}" value="#{bundle.ListTrJadwalViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trJadwalController.prepareEdit}" value="#{bundle.ListTrJadwalEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trJadwalController.destroy}" value="#{bundle.ListTrJadwalDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trJadwalController.prepareCreate}" value="#{bundle.ListTrJadwalCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTrJadwalIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
