<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrJadwalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadId}"/>
                    <h:outputText value="#{trJadwalController.selected.jadId}" title="#{bundle.ViewTrJadwalTitle_jadId}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadTgl}"/>
                    <h:outputText value="#{trJadwalController.selected.jadTgl}" title="#{bundle.ViewTrJadwalTitle_jadTgl}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadJam}"/>
                    <h:outputText value="#{trJadwalController.selected.jadJam}" title="#{bundle.ViewTrJadwalTitle_jadJam}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadNilaiTandang}"/>
                    <h:outputText value="#{trJadwalController.selected.jadNilaiTandang}" title="#{bundle.ViewTrJadwalTitle_jadNilaiTandang}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadNilaiKandang}"/>
                    <h:outputText value="#{trJadwalController.selected.jadNilaiKandang}" title="#{bundle.ViewTrJadwalTitle_jadNilaiKandang}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadTimMenang}"/>
                    <h:outputText value="#{trJadwalController.selected.jadTimMenang}" title="#{bundle.ViewTrJadwalTitle_jadTimMenang}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadStatus}"/>
                    <h:outputText value="#{trJadwalController.selected.jadStatus}" title="#{bundle.ViewTrJadwalTitle_jadStatus}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadCreatedby}"/>
                    <h:outputText value="#{trJadwalController.selected.jadCreatedby}" title="#{bundle.ViewTrJadwalTitle_jadCreatedby}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadModivedby}"/>
                    <h:outputText value="#{trJadwalController.selected.jadModivedby}" title="#{bundle.ViewTrJadwalTitle_jadModivedby}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadCreateddate}"/>
                    <h:outputText value="#{trJadwalController.selected.jadCreateddate}" title="#{bundle.ViewTrJadwalTitle_jadCreateddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadModiveddate}"/>
                    <h:outputText value="#{trJadwalController.selected.jadModiveddate}" title="#{bundle.ViewTrJadwalTitle_jadModiveddate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadLapangan}"/>
                    <h:outputText value="#{trJadwalController.selected.jadLapangan}" title="#{bundle.ViewTrJadwalTitle_jadLapangan}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadTimKandang}"/>
                    <h:outputText value="#{trJadwalController.selected.jadTimKandang}" title="#{bundle.ViewTrJadwalTitle_jadTimKandang}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadTimTandang}"/>
                    <h:outputText value="#{trJadwalController.selected.jadTimTandang}" title="#{bundle.ViewTrJadwalTitle_jadTimTandang}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadBerId}"/>
                    <h:outputText value="#{trJadwalController.selected.jadBerId}" title="#{bundle.ViewTrJadwalTitle_jadBerId}"/>
                    <h:outputText value="#{bundle.ViewTrJadwalLabel_jadCupId}"/>
                    <h:outputText value="#{trJadwalController.selected.jadCupId}" title="#{bundle.ViewTrJadwalTitle_jadCupId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trJadwalController.destroyAndView}" value="#{bundle.ViewTrJadwalDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrJadwalEditLink}"/>
                <br />
                <h:commandLink action="#{trJadwalController.prepareCreate}" value="#{bundle.ViewTrJadwalCreateLink}" />
                <br />
                <h:commandLink action="#{trJadwalController.prepareList}" value="#{bundle.ViewTrJadwalShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrJadwalIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
