<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:body>
     <ui:composition template="../TemplatePage.xhtml">
        
        <ui:define name="contentheader">
            <h:outputText value="News Images"></h:outputText>
        </ui:define>
        <ui:define name="contenttitle">
            <h:outputText value="Add News Images"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <center><h:form >
                <h:panelGrid columns="5" >
                    <h:outputLabel value="Caption" for="namaMenu" />
                    &nbsp;&nbsp;&nbsp;&nbsp;<h:inputText class="form-control"  required="true" 
                                                         requiredMessage="Caption can not be empty" id="namaMenu" value="#{trGambarBeritaController.selected.gbrCaption}" title="News Images Caption" >
                        
                    </h:inputText>
                    &nbsp;<h:message for="namaMenu" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />

                    <h:outputLabel value="File Images" for="image" />
                    &nbsp;<h:inputFile class="form-control" required="true" requiredMessage="File Images can not be null" id="image" 
                                       value="#{trGambarBeritaController.image}" title="File Images" />
                    &nbsp;<h:message for="image" errorStyle="color: red"/>
                    
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                    <h:outputLabel value="" for="namaMenu" />
                     
                </h:panelGrid>
                <br />
                <h:commandButton class="flat btn-primary btn"  style="width: 100px;height: 40px" action="#{trGambarBeritaController.create}" value="Save Images" >
                    <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaUpload}" value="#{trBeritaController.idBerita}" />
                </h:commandButton>
                <h:commandButton class="flat btn-primary btn"  style="width: 100px;height: 40px" action="#{trGambarBeritaController.selesaiGambar()}" value="Finish" />
            </h:form></center>
            
        </ui:define>
    </ui:composition>
</h:body>
</html>
