<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTrGambarBeritaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTrGambarBeritaLabel_gbrId}" for="gbrId" />
                    <h:inputText id="gbrId" value="#{trGambarBeritaController.selected.gbrId}" title="#{bundle.EditTrGambarBeritaTitle_gbrId}" required="true" requiredMessage="#{bundle.EditTrGambarBeritaRequiredMessage_gbrId}"/>
                    <h:outputLabel value="#{bundle.EditTrGambarBeritaLabel_gbrGambar}" for="gbrGambar" />
                    <h:inputText id="gbrGambar" value="#{trGambarBeritaController.selected.gbrGambar}" title="#{bundle.EditTrGambarBeritaTitle_gbrGambar}" required="true" requiredMessage="#{bundle.EditTrGambarBeritaRequiredMessage_gbrGambar}"/>
                    <h:outputLabel value="#{bundle.EditTrGambarBeritaLabel_gbrCaption}" for="gbrCaption" />
                    <h:inputText id="gbrCaption" value="#{trGambarBeritaController.selected.gbrCaption}" title="#{bundle.EditTrGambarBeritaTitle_gbrCaption}" />
                    <h:outputLabel value="#{bundle.EditTrGambarBeritaLabel_gbrBerita}" for="gbrBerita" />
                    <h:selectOneMenu id="gbrBerita" value="#{trGambarBeritaController.selected.gbrBerita}" title="#{bundle.EditTrGambarBeritaTitle_gbrBerita}" required="true" requiredMessage="#{bundle.EditTrGambarBeritaRequiredMessage_gbrBerita}">
                        <f:selectItems value="#{trBeritaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{trGambarBeritaController.update}" value="#{bundle.EditTrGambarBeritaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTrGambarBeritaViewLink}"/>
                <br />
                <h:commandLink action="#{trGambarBeritaController.prepareList}" value="#{bundle.EditTrGambarBeritaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTrGambarBeritaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
