<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTrGambarBeritaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTrGambarBeritaEmpty}" rendered="#{trGambarBeritaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trGambarBeritaController.items.rowCount > 0}">
                    <h:outputText value="#{trGambarBeritaController.pagination.pageFirstItem + 1}..#{trGambarBeritaController.pagination.pageLastItem + 1}/#{trGambarBeritaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trGambarBeritaController.previous}" value="#{bundle.Previous} #{trGambarBeritaController.pagination.pageSize}" rendered="#{trGambarBeritaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trGambarBeritaController.next}" value="#{bundle.Next} #{trGambarBeritaController.pagination.pageSize}" rendered="#{trGambarBeritaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trGambarBeritaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrGambarBeritaTitle_gbrId}"/>
                            </f:facet>
                            <h:outputText value="#{item.gbrId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrGambarBeritaTitle_gbrGambar}"/>
                            </f:facet>
                            <h:outputText value="#{item.gbrGambar}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrGambarBeritaTitle_gbrCaption}"/>
                            </f:facet>
                            <h:outputText value="#{item.gbrCaption}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrGambarBeritaTitle_gbrBerita}"/>
                            </f:facet>
                            <h:outputText value="#{item.gbrBerita}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trGambarBeritaController.prepareView}" value="#{bundle.ListTrGambarBeritaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trGambarBeritaController.prepareEdit}" value="#{bundle.ListTrGambarBeritaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trGambarBeritaController.destroy}" value="#{bundle.ListTrGambarBeritaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trGambarBeritaController.prepareCreate}" value="#{bundle.ListTrGambarBeritaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTrGambarBeritaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
