<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrGambarBeritaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrGambarBeritaLabel_gbrId}"/>
                    <h:outputText value="#{trGambarBeritaController.selected.gbrId}" title="#{bundle.ViewTrGambarBeritaTitle_gbrId}"/>
                    <h:outputText value="#{bundle.ViewTrGambarBeritaLabel_gbrGambar}"/>
                    <h:outputText value="#{trGambarBeritaController.selected.gbrGambar}" title="#{bundle.ViewTrGambarBeritaTitle_gbrGambar}"/>
                    <h:outputText value="#{bundle.ViewTrGambarBeritaLabel_gbrCaption}"/>
                    <h:outputText value="#{trGambarBeritaController.selected.gbrCaption}" title="#{bundle.ViewTrGambarBeritaTitle_gbrCaption}"/>
                    <h:outputText value="#{bundle.ViewTrGambarBeritaLabel_gbrBerita}"/>
                    <h:outputText value="#{trGambarBeritaController.selected.gbrBerita}" title="#{bundle.ViewTrGambarBeritaTitle_gbrBerita}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trGambarBeritaController.destroyAndView}" value="#{bundle.ViewTrGambarBeritaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrGambarBeritaEditLink}"/>
                <br />
                <h:commandLink action="#{trGambarBeritaController.prepareCreate}" value="#{bundle.ViewTrGambarBeritaCreateLink}" />
                <br />
                <h:commandLink action="#{trGambarBeritaController.prepareList}" value="#{bundle.ViewTrGambarBeritaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrGambarBeritaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
