<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTrdtlJadwalKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTrdtlJadwalKruLabel_dtsRole}" for="dtsRole" />
                    <h:inputText id="dtsRole" value="#{trdtlJadwalKruController.selected.dtsRole}" title="#{bundle.CreateTrdtlJadwalKruTitle_dtsRole}" />
                    <h:outputLabel value="#{bundle.CreateTrdtlJadwalKruLabel_msKru}" for="msKru" />
                    <h:selectOneMenu id="msKru" value="#{trdtlJadwalKruController.selected.msKru}" title="#{bundle.CreateTrdtlJadwalKruTitle_msKru}" required="true" requiredMessage="#{bundle.CreateTrdtlJadwalKruRequiredMessage_msKru}">
                        <f:selectItems value="#{msKruController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTrdtlJadwalKruLabel_trJadwal}" for="trJadwal" />
                    <h:selectOneMenu id="trJadwal" value="#{trdtlJadwalKruController.selected.trJadwal}" title="#{bundle.CreateTrdtlJadwalKruTitle_trJadwal}" required="true" requiredMessage="#{bundle.CreateTrdtlJadwalKruRequiredMessage_trJadwal}">
                        <f:selectItems value="#{trJadwalController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.create}" value="#{bundle.CreateTrdtlJadwalKruSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.prepareList}" value="#{bundle.CreateTrdtlJadwalKruShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTrdtlJadwalKruIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
