<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTrdtlJadwalKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTrdtlJadwalKruEmpty}" rendered="#{trdtlJadwalKruController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trdtlJadwalKruController.items.rowCount > 0}">
                    <h:outputText value="#{trdtlJadwalKruController.pagination.pageFirstItem + 1}..#{trdtlJadwalKruController.pagination.pageLastItem + 1}/#{trdtlJadwalKruController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trdtlJadwalKruController.previous}" value="#{bundle.Previous} #{trdtlJadwalKruController.pagination.pageSize}" rendered="#{trdtlJadwalKruController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trdtlJadwalKruController.next}" value="#{bundle.Next} #{trdtlJadwalKruController.pagination.pageSize}" rendered="#{trdtlJadwalKruController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trdtlJadwalKruController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlJadwalKruTitle_dtsRole}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtsRole}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlJadwalKruTitle_msKru}"/>
                            </f:facet>
                            <h:outputText value="#{item.msKru}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlJadwalKruTitle_trJadwal}"/>
                            </f:facet>
                            <h:outputText value="#{item.trJadwal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trdtlJadwalKruController.prepareView}" value="#{bundle.ListTrdtlJadwalKruViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlJadwalKruController.prepareEdit}" value="#{bundle.ListTrdtlJadwalKruEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlJadwalKruController.destroy}" value="#{bundle.ListTrdtlJadwalKruDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.prepareCreate}" value="#{bundle.ListTrdtlJadwalKruCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTrdtlJadwalKruIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
