<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrdtlJadwalKruTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrdtlJadwalKruLabel_dtsRole}"/>
                    <h:outputText value="#{trdtlJadwalKruController.selected.dtsRole}" title="#{bundle.ViewTrdtlJadwalKruTitle_dtsRole}"/>
                    <h:outputText value="#{bundle.ViewTrdtlJadwalKruLabel_msKru}"/>
                    <h:outputText value="#{trdtlJadwalKruController.selected.msKru}" title="#{bundle.ViewTrdtlJadwalKruTitle_msKru}"/>
                    <h:outputText value="#{bundle.ViewTrdtlJadwalKruLabel_trJadwal}"/>
                    <h:outputText value="#{trdtlJadwalKruController.selected.trJadwal}" title="#{bundle.ViewTrdtlJadwalKruTitle_trJadwal}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.destroyAndView}" value="#{bundle.ViewTrdtlJadwalKruDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrdtlJadwalKruEditLink}"/>
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.prepareCreate}" value="#{bundle.ViewTrdtlJadwalKruCreateLink}" />
                <br />
                <h:commandLink action="#{trdtlJadwalKruController.prepareList}" value="#{bundle.ViewTrdtlJadwalKruShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrdtlJadwalKruIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
