<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/templateUser.xhtml">

        <ui:define name="ListBerita">
            <div class="blog" id="berita">
                <div class="container">
                    <div class="w3ls-heading">
                        <h3>News</h3>
                    </div>
                    <h:form>
                        <div class="agile-blog-grids" >
                            <p:dataGrid var="news" value="#{trBeritaController.allBerita}" columns="3" 
                                        rows="12" paginator="true" id="menu"  
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                        rowsPerPageTemplate="6,12,16" >


                                <p:panel  style="text-align:justify" >

                                    <h:panelGrid columns="1" style="width:100%;height: 400px">
                                        <div class="col-md-4 agile-blog-grid">
                                            <div class="agile-blog-grid-img">
                                                <b:carousel id="parque" style="width:300px">
                                                    <ui:repeat value="#{trGambarBeritaController.getAllGambar(news.berId)}" var="gambarNews"/>

                                                    <c:forEach items="#{trGambarBeritaController.x}" var="img">
                                                        <b:carouselItem>
                                                            <p:graphicImage value="resources/gambar/12.jpg"  />
                                                        </b:carouselItem>
                                                    </c:forEach>
                                                </b:carousel> 
                                                <p:panel  style="text-align:center;border: #f0f0f0" >
                                                    <h2><b><h:outputText value="#{news.berJudul}" /></b></h2>
                                                </p:panel>

                                                <p>Posted By Admin on <h:outputText value="#{news.berTglRilis}"><f:convertDateTime timeZone="GMT+7" pattern="dd MMMMM yyyy" /></h:outputText> &nbsp;&nbsp; </p>
                                            </div>
                                            <div class="agile-blog-grid-info">
                                                <p><h:outputText value="#{news.berKonten}" escape="false"/></p>
                                            </div>
                                            <div class="agile-blog-grid-info">
                                                <p><h:commandButton class="btn btn-primary btn-flat" action="bacaberita.xhtml" value="Edit" >
                                                        <f:setPropertyActionListener target="#{trKomentarController.idberita}" value=""/>
                                                    </h:commandButton></p>
                                            </div>
                                        </div>
                                    </h:panelGrid>
                                </p:panel>
                            </p:dataGrid>

                        </div>
                    </h:form>

                </div>
            </div>




        </ui:define>

    </ui:composition>
</html>

