<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTrdtlPrestasiPemainTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTrdtlPrestasiPemainLabel_dtpPoinPlus}" for="dtpPoinPlus" />
                    <h:inputText id="dtpPoinPlus" value="#{trdtlPrestasiPemainController.selected.dtpPoinPlus}" title="#{bundle.EditTrdtlPrestasiPemainTitle_dtpPoinPlus}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPrestasiPemainLabel_dtpPoinMinus}" for="dtpPoinMinus" />
                    <h:inputText id="dtpPoinMinus" value="#{trdtlPrestasiPemainController.selected.dtpPoinMinus}" title="#{bundle.EditTrdtlPrestasiPemainTitle_dtpPoinMinus}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPrestasiPemainLabel_dtpJumlahPelanggaran}" for="dtpJumlahPelanggaran" />
                    <h:inputText id="dtpJumlahPelanggaran" value="#{trdtlPrestasiPemainController.selected.dtpJumlahPelanggaran}" title="#{bundle.EditTrdtlPrestasiPemainTitle_dtpJumlahPelanggaran}" />
                    <h:outputLabel value="#{bundle.EditTrdtlPrestasiPemainLabel_msPeserta}" for="msPeserta" />
                    <h:selectOneMenu id="msPeserta" value="#{trdtlPrestasiPemainController.selected.msPeserta}" title="#{bundle.EditTrdtlPrestasiPemainTitle_msPeserta}" required="true" requiredMessage="#{bundle.EditTrdtlPrestasiPemainRequiredMessage_msPeserta}">
                        <f:selectItems value="#{msPesertaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditTrdtlPrestasiPemainLabel_trCup}" for="trCup" />
                    <h:selectOneMenu id="trCup" value="#{trdtlPrestasiPemainController.selected.trCup}" title="#{bundle.EditTrdtlPrestasiPemainTitle_trCup}" required="true" requiredMessage="#{bundle.EditTrdtlPrestasiPemainRequiredMessage_trCup}">
                        <f:selectItems value="#{trCupController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{trdtlPrestasiPemainController.update}" value="#{bundle.EditTrdtlPrestasiPemainSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTrdtlPrestasiPemainViewLink}"/>
                <br />
                <h:commandLink action="#{trdtlPrestasiPemainController.prepareList}" value="#{bundle.EditTrdtlPrestasiPemainShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTrdtlPrestasiPemainIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
