<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTrdtlPrestasiPemainEmpty}" rendered="#{trdtlPrestasiPemainController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{trdtlPrestasiPemainController.items.rowCount > 0}">
                    <h:outputText value="#{trdtlPrestasiPemainController.pagination.pageFirstItem + 1}..#{trdtlPrestasiPemainController.pagination.pageLastItem + 1}/#{trdtlPrestasiPemainController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{trdtlPrestasiPemainController.previous}" value="#{bundle.Previous} #{trdtlPrestasiPemainController.pagination.pageSize}" rendered="#{trdtlPrestasiPemainController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{trdtlPrestasiPemainController.next}" value="#{bundle.Next} #{trdtlPrestasiPemainController.pagination.pageSize}" rendered="#{trdtlPrestasiPemainController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{trdtlPrestasiPemainController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle_dtpPoinPlus}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtpPoinPlus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle_dtpPoinMinus}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtpPoinMinus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle_dtpJumlahPelanggaran}"/>
                            </f:facet>
                            <h:outputText value="#{item.dtpJumlahPelanggaran}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle_msPeserta}"/>
                            </f:facet>
                            <h:outputText value="#{item.msPeserta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTrdtlPrestasiPemainTitle_trCup}"/>
                            </f:facet>
                            <h:outputText value="#{item.trCup}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{trdtlPrestasiPemainController.prepareView}" value="#{bundle.ListTrdtlPrestasiPemainViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlPrestasiPemainController.prepareEdit}" value="#{bundle.ListTrdtlPrestasiPemainEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{trdtlPrestasiPemainController.destroy}" value="#{bundle.ListTrdtlPrestasiPemainDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{trdtlPrestasiPemainController.prepareCreate}" value="#{bundle.ListTrdtlPrestasiPemainCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTrdtlPrestasiPemainIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
