<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainLabel_dtpPoinPlus}"/>
                    <h:outputText value="#{trdtlPrestasiPemainController.selected.dtpPoinPlus}" title="#{bundle.ViewTrdtlPrestasiPemainTitle_dtpPoinPlus}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainLabel_dtpPoinMinus}"/>
                    <h:outputText value="#{trdtlPrestasiPemainController.selected.dtpPoinMinus}" title="#{bundle.ViewTrdtlPrestasiPemainTitle_dtpPoinMinus}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainLabel_dtpJumlahPelanggaran}"/>
                    <h:outputText value="#{trdtlPrestasiPemainController.selected.dtpJumlahPelanggaran}" title="#{bundle.ViewTrdtlPrestasiPemainTitle_dtpJumlahPelanggaran}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainLabel_msPeserta}"/>
                    <h:outputText value="#{trdtlPrestasiPemainController.selected.msPeserta}" title="#{bundle.ViewTrdtlPrestasiPemainTitle_msPeserta}"/>
                    <h:outputText value="#{bundle.ViewTrdtlPrestasiPemainLabel_trCup}"/>
                    <h:outputText value="#{trdtlPrestasiPemainController.selected.trCup}" title="#{bundle.ViewTrdtlPrestasiPemainTitle_trCup}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{trdtlPrestasiPemainController.destroyAndView}" value="#{bundle.ViewTrdtlPrestasiPemainDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTrdtlPrestasiPemainEditLink}"/>
                <br />
                <h:commandLink action="#{trdtlPrestasiPemainController.prepareCreate}" value="#{bundle.ViewTrdtlPrestasiPemainCreateLink}" />
                <br />
                <h:commandLink action="#{trdtlPrestasiPemainController.prepareList}" value="#{bundle.ViewTrdtlPrestasiPemainShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTrdtlPrestasiPemainIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
