<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

    <body>
        
        <ui:composition template="templateBaca.xhtml">

            <ui:define name="title">
                Berita
            </ui:define>

            <ui:define name="top">

            </ui:define>

            <ui:define name="BacaBerita">
                
                <br/>
                <br/>
                <div id="main-wrapper">
                    <!-- Feature Category Section & sidebar -->
                    <section id="feature_category_section" class=" section_wrapper">
                    <div class="container">   
                            <div class="row">
                                     <div class="col-md-9">
                                            <div class="single_content_layout">
                                                    <div class="item feature_news_item">
                                                            <div class="item_img">
                                                               <div class="center">
                                                                <div class="slider">
                                                                    <ul class="bxslider">
                                                                        <p:repeat value="#{trGambarBeritaController.gambarDetail}" var="item">
                                                                            <li><h:graphicImage value="/resources/gambar/#{item}" style="width: 780px;height: 500px"/></li>
                                                                        </p:repeat>

                                                                    </ul>
                                                                  </div>
                                                              </div>
                                                                <br/><br/>
                                                            </div><!--item_img--> 
                                                                <p:repeat value="#{trBeritaController.beritaDetail}" var="item">
                                                                    <div class="item_wrapper">
                                                                            <div class="news_item_title">
                                                                                    <h2><a href="#"><h:outputText value="#{item[1]}"/></a></h2>
                                                                            </div><!--news_item_title-->
                                                                            <div class="item_meta"><a href="#"><h:outputText value="#{item[3]}"/></a> by:<a href="#">Admin</a></div>
                                                                                    
                                                                                    <div class="item_content">
                                                                                        <h:outputText value="#{item[0]}" style="visibility: hidden"/>
                                                                                            <h:outputText value="#{item[2]}" escape="false"/>
                                                                                    </div><!--item_content-->
                                                                    </div><!--item_wrapper-->	
                                                                </p:repeat>
                                                    </div><!--feature_news_item-->


                                                    
                                                    <div class="readers_comment">
                                                        
                                                        <div class="single_media_title"><h2>Komentar</h2></div>
                                                        <ui:repeat value="#{trKomentarController.komentarlevelsatu}" var="items">
                                                            <div class="media">
                                                                    <div class="media-left">
                                                                            <a href="#">
                                                                                    <img alt="64x64" class="media-object" 
                                                                                         src="resources/gambar/user.png" width="64px" height="64px"/>
                                                                            </a>
                                                                    </div>
                                                                    <div class="media-body">
                                                                            <p style="font-size: 20px"><h:outputText value="#{items[2]}"/></p>
                                                                            <h:outputText value="#{items[3]}" escape="false"/>
                                                                            
                                                                        </div> 
                                                                </div>
                                                        </ui:repeat>
                                                        <div class="add_a_comment" >
                                                            <h:form  >
                                                        <div class="single_media_title" ><h2>Tambah Komentar</h2></div>
                                                        <div class="comment_form">
                                                        <div class="form-group">
                                                            <h:inputText class="form-control"  required="true" 
                                                                         requiredMessage="Nama Tidak Bisa Kosong"  value="#{trKomentarController.selected.komNama}" title="Nama" />
                                                        </div>
                                                        <div class="form-group">
                                                            <h:inputText class="form-control"  required="true" 
                                                                         requiredMessage="Email Tidak Bisa Kosong" value="#{trKomentarController.selected.komEmail}" title="Email" />
                                                        </div>
                                                        <div class="form-group comment">
                                                            <p:textEditor widgetVar="editor2" required="true"
                                                                          requiredMessage="Komentar Tidak Bisa Kosong"  value="#{trKomentarController.selected.komIsi}" 
                                                                            height="300" style="margin-bottom:10px" placeholder="Masukkan komentar" >
                                                                <f:facet name="toolbar">
                                                                     <span class="ql-formats">

                                                                        <button class="ql-bold"></button>
                                                                        <button class="ql-italic"></button>
                                                                        <button class="ql-underline"></button>
                                                                        <button class="ql-strike"></button>
                                                                        <button class="ql-list" value="ordered"></button>
                                                                        <button class="ql-list" value="bullet"></button>
                                                                    </span>
                                                                    <span class="ql-formats">
                                                                        <select class="ql-font"></select>
                                                                        <select class="ql-size"></select>
                                                                    </span>
                                                                </f:facet>
                                                            </p:textEditor>
                                                        </div>
                                                            <h:commandButton class="btn btn-submit red" action="#{trKomentarController.create}" value="Balas" >
                                                                <f:setPropertyActionListener target="#{trKomentarController.ejbBerita}" value="#{trBeritaController.ejbFacade}"/>
                                                            </h:commandButton>
                                                        </div><!--comment_form-->
                                                        </h:form><!--add_a_comment-->
                                                        </div>
                                                    </div><!--readers_comment-->

                                                    

                                            </div><!--single_content_layout-->
                                     </div>

                                    <div class="col-md-3">
                                        <h:form>
                                            <div class="tab sitebar">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a  href="#1" data-toggle="tab"><p style="font-size: 14px">Latest</p></a></li>
                                                            <li><a href="#2" data-toggle="tab"><p style="font-size: 14px">Populer</p></a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                            <div class="tab-pane active" id="1">
                                                                <p:repeat value="#{trBeritaController.beritaTerbaru}" var="item">
                                                                    <div class="media">
                                                                            <div class="media-left">
                                                                                <a href="#"><img class="media-object" src="resources/gambar/#{item[2]}" width="64px" height="64px" alt="Generic placeholder image"/></a>
                                                                            </div><!--media-left-->
                                                                            <div class="media-body">
                                                                                <h3 class="media-heading" style="color: black"><h:commandLink action="#{trBeritaController.baca}" value="#{item[1]}" >
                                                                                        <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[0]}"/>
                                                                                        <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[0]}"/>
                                                                                        <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[0]}"/>
                                                                                    </h:commandLink></h3>
                                                                            </div><!--media-body-->
                                                                    </div><!--media-->
                                                                 </p:repeat>  
                                                            </div><!--tab-pane-->

                                                            <div class="tab-pane" id="2">
                                                                <p:repeat value="#{trBeritaController.populer}" var="item">
                                                                    <div class="media">
                                                                            <div class="media-left">
                                                                                <a href="#"><img class="media-object" src="resources/gambar/#{item[4]}" width="64px" height="64px" alt="Generic placeholder image"/></a>
                                                                            </div><!--media-left-->
                                                                            <div class="media-body">
                                                                                <h3 class="media-heading" style="color: black"><h:commandLink action="#{trBeritaController.baca}" value="#{item[1]}" >
                                                                                        <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                                                                        <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                                                                        <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[2]}"/>
                                                                                    </h:commandLink></h3>
                                                                            </div><!--media-body-->
                                                                    </div><!--media-->
                                                                 </p:repeat>  
                                                            </div><!--tab-pane-->
                                                    </div><!--tab-content-->
                                            </div><!--tab-->
                                            </h:form>

                                        <h:form>
                                            <div class="most_comment">
                                                    <div class="sidebar_title">
                                                            <h2>Paling Banyak Terkomentari</h2>
                                                    </div>
                                                <p:repeat value="#{trBeritaController.komentarBanyak}" var="item">
                                                        <div class="media">
                                                                <div class="media-left">
                                                                    <a href="#"><img class="media-object" src="resources/gambar/#{item[2]}" width="64px" height="64px" alt="Generic placeholder image"/></a>
                                                                </div><!--media-left-->
                                                                <div class="media-body">
                                                                    <h3 class="media-heading" style="color: black"><h:commandLink action="#{trBeritaController.baca}" value="#{item[1]}" >
                                                                            <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[0]}"/>
                                                                            <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[0]}"/>
                                                                            <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[0]}"/>
                                                                        </h:commandLink></h3>
                                                                </div><!--media-body-->
                                                        </div><!--media-->
                                                     </p:repeat>
                                                    
                                            </div><!--most_comment-->
                                            </h:form>
                                    </div>
                            </div>
                        </div>
            </section><!--feature_category_section-->

                    <!-- Footer Section -->


            </div> <!--main-wrapper-->
            </ui:define>

        </ui:composition>

    </body>


</html>
