<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/templateUserBerita.xhtml">
       

        <ui:define name="ListBerita">
            <h:form>
                <br/><br/>
                <center><h2 style="background-color: #292c2f;box-shadow: 0 1px 1px #ccc;padding: 20px 40px;height: 80px;color: #ffffff;box-sizing: border-box;">Liputan 24 Gobak Sodor</h2></center><br/><br/>
            <div class="body_wrapper">
                <div class="center">
                    <div class="slider">
                      <ul class="bxslider">
                          <p:repeat value="#{trBeritaController.highLight}" var="item">
                              <li><h:graphicImage value="/resources/gambar/#{item[3]}" title="#{item[1]}" style="width: 1200px;height: 500px"/></li>
                          </p:repeat>
                          
                      </ul>
                    </div>
                </div>
            </div><br/><br/>
            <div class="content_area" style="overflow: hidden;margin-left: 30px">
                <div class="main_content ">
                    <div class="left_coloum " style="float: left">
                    <div class="single_left_coloum_wrapper">
                        <h2 class="title" style="font-size: 46px;">Artikel Gobak Sodor</h2>
                        <p:repeat value="#{trBeritaController.highLight}" var="item">
                      <div class="single_left_coloum" style="float: left; margin-top: 20px;margin-left: 25px"> <h:graphicImage value="/resources/gambar/#{item[3]}" alt="" style="width: 300px;height: 300px"/>
                          <h3 style="height: 80px"><h:commandLink action="#{trBeritaController.baca}" value="#{item[1]}" >
                              <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[4]}"/>
                              <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[4]}"/>
                              <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[4]}"/>
                          </h:commandLink></h3>
                          <div ><p><h:outputText value="#{item[5]}" escape="false"/></p></div>
                          <h:commandLink action="#{trBeritaController.baca}" value="Selengkapnya" class="btn btn-primary">
                              <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[4]}"/>
                              <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[4]}"/>
                              <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[4]}"/>
                          </h:commandLink> <br/></div> </p:repeat>
                    </div>


                  </div>
                    <div class="right_coloum" style="float: right">
                        <div class="single_right_coloum">
                          <h2 class="title" style="font-size: 46px;">Paling Populer</h2>
                          <ul>
                              <p:repeat value="#{trBeritaController.populer}" var="item">
                                <li>
                                  <div class="single_cat_right_content">
                                    <h3 style="height: 80px"><h:commandLink action="#{trBeritaController.baca}" value="#{item[1]}" >
                                        <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                        <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                        <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[2]}"/>
                                    </h:commandLink></h3>
                                    <div ><p><h:outputText value="#{item[3]}" escape="false"/></p></div>
                                   <h:commandLink action="#{trBeritaController.baca}" value="Selengkapnya" class="btn btn-primary">
                                        <f:setPropertyActionListener target="#{trBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                        <f:setPropertyActionListener target="#{trGambarBeritaController.idBeritaDetail}" value="#{item[2]}"/>
                                        <f:setPropertyActionListener target="#{trKomentarController.idDetailKomentar}" value="#{item[2]}"/>
                                    </h:commandLink>
                                  </div>
                                </li>
                              </p:repeat>
                            
                          </ul>
                      </div>
                  
                </div>


            </div>
                </div>
            <br/><br/>
            
           </h:form>
        </ui:define>
    </ui:composition>
</html>