<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/templateBaca_1.xhtml">
        
        <ui:define name="ListBerita">
                <div class="center">
                  <div class="slider">
                      <ul class="bxslider">
                          <p:repeat value="#{trBeritaController.highLight}" var="item">
                              <li><h:graphicImage value="/resources/gambar/#{item[3]}" title="#{item[1]}" style="width: 1200px;height: 500px"/></li>
                          </p:repeat>
                          
                      </ul>
                    </div>
                </div>
             <section class="site-section pt-5">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p:repeat value="#{trBeritaController.beritaDetail}" var="item">
                                <div class="text half-to-full">
                                    <center><h2><h:outputText value="#{item.berJudul}"/></h2></center>
                                    <br/><br/>
                                    <span class="category">Admin</span>
                                    <span class="mr-2"><h:outputText value="#{item.berTglRilis}">
                                        <f:convertDateTime timeZone="GMT+7" pattern="dd MMMMM yyyy" /></h:outputText> </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>   3</span>
                                    <br/><br/>
                                    <h:outputText value="#{item.berKonten}" escape="false"/>
                                </div>
                            </p:repeat>
                        </div>
                    </div>
                  </div>
                  
                </div>


              </section>
        </ui:define>
    </ui:composition>
</html>