<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./templateAdmin.xhtml">

            <ui:define name="title">
                Add Kru
            </ui:define>

            <ui:define name="top">
                Add Kru
            </ui:define>

            <ui:define name="content">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ordering</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <h:form enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruEmail}" for="kruEmail" />
                                <h:inputText id="kruEmail" class="form-control" value="#{msKruController.selected.kruEmail}" title="#{bundle.CreateMsKruTitle_kruEmail}">
                                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /> 
                                </h:inputText>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruPassword}" for="kruPassword" />
                                <h:inputText id="kruPassword" class="form-control" value="#{msKruController.selected.kruPassword}" title="#{bundle.CreateMsKruTitle_kruPassword}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNamaDepan}" for="kruNamaDepan" />
                                <h:inputText id="kruNamaDepan" class="form-control" value="#{msKruController.selected.kruNamaDepan}" title="#{bundle.CreateMsKruTitle_kruNamaDepan}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNamaBelakang}" for="kruNamaBelakang" />
                                <h:inputText id="kruNamaBelakang" class="form-control" value="#{msKruController.selected.kruNamaBelakang}" title="#{bundle.CreateMsKruTitle_kruNamaBelakang}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruTglLahir}" for="kruTglLahir" />
                                <h:inputText id="kruTglLahir" class="form-control" value="#{msKruController.selected.kruTglLahir}" title="#{bundle.CreateMsKruTitle_kruTglLahir}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruNoTlp}" for="kruNoTlp" />
                                <h:inputText id="kruNoTlp" class="form-control" value="#{msKruController.selected.kruNoTlp}" title="#{bundle.CreateMsKruTitle_kruNoTlp}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruFoto}" for="kruFoto" />
                                <h:inputText id="kruFoto" class="form-control" value="#{msKruController.selected.kruFoto}" title="#{bundle.CreateMsKruTitle_kruFoto}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruCreatedby}" for="kruCreatedby" />
                                <h:inputText id="kruCreatedby" class="form-control" value="#{msKruController.selected.kruCreatedby}" title="#{bundle.CreateMsKruTitle_kruCreatedby}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruModivedby}" for="kruModivedby" />
                                <h:inputText id="kruModivedby" class="form-control" value="#{msKruController.selected.kruModivedby}" title="#{bundle.CreateMsKruTitle_kruModivedby}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruCreateddate}" for="kruCreateddate" />
                                <h:inputText id="kruCreateddate" class="form-control" value="#{msKruController.selected.kruCreateddate}" title="#{bundle.CreateMsKruTitle_kruCreateddate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsKruLabel_kruModiveddate}" for="kruModiveddate" />
                                <h:inputText id="kruModiveddate" class="form-control" value="#{msKruController.selected.kruModiveddate}" title="#{bundle.CreateMsKruTitle_kruModiveddate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <h:commandButton action="#{msKruController.create}" class="btn btn-default" value="#{bundle.CreateMsKruSaveLink}" />
                        </div>
                    </h:form>
                </div>
                <!-- /.box -->   
            </ui:define>

        </ui:composition>

    </body>
</html>
