<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./templateAdmin.xhtml">

            <ui:define name="title">
                Registration Participant
            </ui:define>

            <ui:define name="top">
                Registration Participant
            </ui:define>

            <ui:define name="content">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Registration Team</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <h:form enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesId}" for="pesId" />
                                <h:inputText id="pesId" value="#{msPesertaController.selected.pesId}" title="#{bundle.CreateMsPesertaTitle_pesId}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNim}" for="pesNim" />
                                <h:inputText id="pesNim" value="#{msPesertaController.selected.pesNim}" title="#{bundle.CreateMsPesertaTitle_pesNim}" required="true" requiredMessage="#{bundle.CreateMsPesertaRequiredMessage_pesNim}"/>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesUsernameTim}" for="pesUsernameTim" />
                                <h:inputText id="pesUsernameTim" value="#{msPesertaController.selected.pesUsernameTim}" title="#{bundle.CreateMsPesertaTitle_pesUsernameTim}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNamaDepan}" for="pesNamaDepan" />
                                <h:inputText id="pesNamaDepan" value="#{msPesertaController.selected.pesNamaDepan}" title="#{bundle.CreateMsPesertaTitle_pesNamaDepan}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesNamaBelakang}" for="pesNamaBelakang" />
                                <h:inputText id="pesNamaBelakang" value="#{msPesertaController.selected.pesNamaBelakang}" title="#{bundle.CreateMsPesertaTitle_pesNamaBelakang}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesTglLahir}" for="pesTglLahir" />
                                <h:inputText id="pesTglLahir" value="#{msPesertaController.selected.pesTglLahir}" title="#{bundle.CreateMsPesertaTitle_pesTglLahir}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesRole}" for="pesRole" />
                                <h:inputText id="pesRole" value="#{msPesertaController.selected.pesRole}" title="#{bundle.CreateMsPesertaTitle_pesRole}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesFoto}" for="pesFoto" />
                                <h:inputText id="pesFoto" value="#{msPesertaController.selected.pesFoto}" title="#{bundle.CreateMsPesertaTitle_pesFoto}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesCreatedby}" for="pesCreatedby" />
                                <h:inputText id="pesCreatedby" value="#{msPesertaController.selected.pesCreatedby}" title="#{bundle.CreateMsPesertaTitle_pesCreatedby}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesModivedby}" for="pesModivedby" />
                                <h:inputText id="pesModivedby" value="#{msPesertaController.selected.pesModivedby}" title="#{bundle.CreateMsPesertaTitle_pesModivedby}" />

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesCreateddate}" for="pesCreateddate" />
                                <h:inputText id="pesCreateddate" value="#{msPesertaController.selected.pesCreateddate}" title="#{bundle.CreateMsPesertaTitle_pesCreateddate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>

                            </div>
                            <div class="form-group">
                                <h:outputLabel value="#{bundle.CreateMsPesertaLabel_pesModiveddate}" for="pesModiveddate" />
                                <h:inputText id="pesModiveddate" value="#{msPesertaController.selected.pesModiveddate}" title="#{bundle.CreateMsPesertaTitle_pesModiveddate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:inputText>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <h:commandLink action="#{msPesertaController.create}" class="btn btn-default" value="#{bundle.CreateMsPesertaSaveLink}" />
                        </div>
                    </h:form>
                </div>
                <!-- /.box -->  
            </ui:define>

        </ui:composition>

    </body>
</html>
