<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/templateUser.xhtml">
        <ui:define name="TabelTopScore">
        <div class="services" id="statistik">
            <div class="container">
                <div class="services-top">
                    <div class="col-md-12 services-top-left">
                        <h3>Statistic</h3>
                    </div>
                </div>
                <div class="agile-blog-grids" id="TopScore">
                    <div class="col-md-12">
                        <h3>Penangkap Terbanyak</h3>
                        <h:form>
                            <b:dataTable value="#{trdtlPrestasiPemainController.allMenu}" var="item" class="table-responsive" >
                                <b:dataTableColumn label="Nama Pemain" >
                                    <h:outputText value="#{item[0]}" />
                                </b:dataTableColumn>
                                
                                <b:dataTableColumn label="Nama Tim" >
                                    <h:outputText value="#{item[2]}" />
                                </b:dataTableColumn>
                                <b:dataTableColumn label="Poin"  >
                                    <h:outputText value="#{item[1]} Poin" />
                                </b:dataTableColumn>

                            </b:dataTable>
                        </h:form>
                        <!--<ui:insert name="TabelTopScore">Top</ui:insert>-->
                    </div>
                </div>
                <div class="agile-blog-grids" id="TopPlayer">
                    <div class="col-md-12 ">
                        <h3>Paling Banyak Meloloskan Diri</h3>
                        <!--<ui:insert name="TabelTopPlayer">Top</ui:insert>-->
                        <h:form>
                            <b:dataTable value="#{trdtlPrestasiPemainController.allPoin}" var="item" class="table-responsive table" >
                                <b:dataTableColumn label="Nama Pemain" >
                                    <h:outputText value="#{item[0]}" />
                                </b:dataTableColumn>
                                <b:dataTableColumn label="Nama Tim" >
                                    <h:outputText value="#{item[2]}" />
                                </b:dataTableColumn>
                                <b:dataTableColumn label="Poin"  >
                                    <h:outputText value="#{item[1]} Poin" />
                                </b:dataTableColumn>

                            </b:dataTable>
                        </h:form>
                    </div>
                </div>
                <div class="agile-blog-grids" id="Yellow">
                    <div class="col-md-12 ">
                        <h3>Pemain Dengan Pelanggaran Terbanyak</h3>
                        <h:form>
                            <b:dataTable value="#{trdtlPrestasiPemainController.allFoul}" var="item" class="table-responsive table" >
                                <b:dataTableColumn label="Nama Pemain" >
                                    <h:outputText value="#{item[0]}" />
                                </b:dataTableColumn>
                                <b:dataTableColumn label="Nama Tim" >
                                    <h:outputText value="#{item[2]}" />
                                </b:dataTableColumn>
                                <b:dataTableColumn label="Poin"  >
                                    <h:outputText value="#{item[1]} Poin" />
                                </b:dataTableColumn>

                            </b:dataTable>
                        </h:form>
                        <!--<ui:insert name="TabelYellow">Top</ui:insert>-->
                    </div>
                </div>
                
            </div>
        </div>
        
        </ui:define>
    </ui:composition>
</html>

