<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title><ui:insert name="title">Gobak Sodor</ui:insert></title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Go Hiking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- bootstrap-css -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <!--// bootstrap-css -->
        <!-- css -->
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
        <!--// css -->
        <!-- font-awesome icons -->
        <link href="css/font-awesome.css" rel="stylesheet"/> 
        <!-- //font-awesome icons -->
        <!-- gallery -->
        <link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
        <!-- //gallery -->
        <!-- font -->
        <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>
        <link rel="stylesheet" href="../dist/css/AdminLTE.min.css"/>
        <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css"/>
        
<!--        <link rel="stylesheet" href="css/animate.css"/>
        <link rel="stylesheet" href="css/owl.carousel.min.css"/>-->
        <!-- //font -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/SmoothScroll.min.js"></script>
        <script src="js/jarallax.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        
        <link href="../css/bootstrapBaca.min.css" rel="stylesheet"/>

    <!-- Font Awesome -->
    <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
	
    <!-- Owl carousel -->
    <link href="../css/owl.carousel.css" rel="stylesheet"/>
    <link href="../css/owl.theme.css" rel="stylesheet"/>  

    <!-- Off Canvas Menu -->
    <link href="../css/offcanvas.min.css" rel="stylesheet"/>
    </h:head>

    <h:body>

        

        <div class="banner" id="home">
            <div class="banner-dot">
                <div class="header-top">
                    <div class="container banner-drop">
                        <div class="agile-logo">
                            <!-- ini buat nama Aplikasi -->
                            <h1><a href="index.html">Gobak Sodor</a></h1>
                        </div>
                        <div class="header-right">
                            <nav>
                                <ul>
                                    <li class="active">
<!--                                        <a href="indexUser.html"><span>Home</span></a>-->
                                        <h:link outcome="/indexUser" value="Home"/>
                                    </li>
                                    <li>
                                        <h:link outcome="/StatistikTopScore" value="League Statistics"/>
<!--                                        <ul class="treeview-menu">
                                            <li><a href="#TopScore" class="scroll"><span>Top Score</span></a></li>
                                            <li><a href="#TopPlayer" class="scroll"><span>Top Player</span></a></li>
                                            <li><a href="#Yellow" class="scroll"><span>Yellow Card</span></a></li>
                                            <li><a href="#Red" class="scroll"><span>Red Card</span></a></li>
                                        </ul>-->
                                        
                                    </li>
                                    <li>
                                        <h:link outcome="/BeritaUser" value="News"/>
                                    </li>
                                    <li>
                                        <a href="#gallery" class="scroll"><span>Gallery</span></a>
                                    </li>
                                    <li>
                                        <a href="#team" class="scroll"><span>Team</span></a>
                                    </li>
                                    <li>
                                        <a href="#contact" class="scroll"><span>Contact Us</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="menu-icon"><span></span></div>
                        </div>
                        <div class="clearfix"> </div>
                        <script>
                            (function ($) {
                                $(".menu-icon").on("click", function () {
                                    $(this).toggleClass("open");
                                    $(".container").toggleClass("nav-open");
                                    $("nav ul li").toggleClass("animate");
                                });

                            })(jQuery);
                        </script>
                    </div>
                </div>
                <div class="w3layouts-slider">
                    <div class="container">
                        <div class="slider">
                            <div class="callbacks_container">
                                <ul class="rslides callbacks callbacks1" id="slider4">
                                    <li>	
                                        <div class="wthree-banner-grids">
                                            <div class="col-md-6 agileits-banner-left">
                                                <h3>Gobak Sodor</h3>
                                                <h4>Permainan Tradisional</h4>
                                            </div>
                                            <div class="col-md-6 agileinfo-banner-right">
                                                <p>Permainan tradisional yang dikenal di daerah Jawa Tengah. yang dilakukan oleh 2 tim yang berisi masing - masing 5 orang</p>
                                                <div class="banner-border"> </div>
                                                <div class="w3-button">
                                                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </li>
                                    <li>	
                                        <div class="wthree-banner-grids">
                                            <div class="col-md-6 agileits-banner-left">
                                                <h3>Let's be Champion</h3>
                                            </div>
                                            <div class="col-md-6 agileinfo-banner-right">
                                                <p>Put some text here...</p>
                                                <div class="banner-border"> </div>
                                                <div class="w3-button">
                                                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <script src="js/responsiveslides.min.js"></script>
                            <script>
                            // You can also use "$(window).load(function() {"
                            $(function () {
                                // Slideshow 4
                                $("#slider4").responsiveSlides({
                                    auto: true,
                                    pager: true,
                                    nav: true,
                                    speed: 500,
                                    namespace: "callbacks",
                                    before: function () {
                                        $('.events').append("<li>before event fired.</li>");
                                    },
                                    after: function () {
                                        $('.events').append("<li>after event fired.</li>");
                                    }
                                });

                            });
                            </script>
                            <!--banner Slider starts Here-->
                        </div>
                    </div>
                </div>
            
        
        <!-- //banner -->
        <!-- modal -->
                <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header"> 
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                                <h4 class="modal-title">Gobak Sodor</h4>
                            </div> 
                            <div class="modal-body">
                                <div class="agileits-w3layouts-info">
                                    <img src="images/1.jpg" alt="" />
                                    <p>Galah asin, galasin, atau gobak sodor adalah sejenis permainan daerah dari Indonesia. Permainan ini adalah sebuah permainan grup yang terdiri dari dua grup, di mana masing-masing tim terdiri dari 3 - 5 orang. Inti permainannya adalah menghadang lawan agar tidak bisa lolos melewati garis ke baris terakhir secara bolak-balik, dan untuk meraih kemenangan seluruh anggota grup harus secara lengkap melakukan proses bolak-balik dalam area lapangan yang telah ditentukan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <!-- services -->
        <ui:insert name="BacaBerita"></ui:insert>
<!--        <div class="services" id="statistik">
            <div class="container">
                <div class="services-top">
                    <div class="col-md-12 services-top-left">
                        <h3>Statistic</h3>
                    </div>
                </div>
                <div class="agile-blog-grids" id="TopScore">
                    <div class="col-md-12">
                        <h3>Top Catch</h3>
                        
                    </div>
                </div>
                <div class="agile-blog-grids" id="TopPlayer">
                    <div class="col-md-12 ">
                        <h3>Top Get Away</h3>
                        <ui:insert name="TabelTopPlayer">Top</ui:insert>
                    </div>
                </div>
                <div class="agile-blog-grids" id="Yellow">
                    <div class="col-md-12 ">
                        <h3>Foul</h3>
                        <ui:insert name="TabelYellow">Top</ui:insert>
                    </div>
                </div>
                
            </div>
        </div>-->

        <!-- blog -->
        <!-- //blog -->
        <!-- team -->
        
        <!-- //team -->
        <!-- contact -->
        <!-- //contact -->

        <!-- footer -->
        
        <!-- //footer -->
        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <p>© 2018 Gobak Sodor.</p>
            </div>
        </div>
        <!-- //copyright -->
        
        <link rel="stylesheet" href="../dist/css/AdminLTE.min.css"/>
        <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css"/>
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
                 };
                 */

                $().UItoTop({easingType: 'easeOutQuart'});

            });
            $(document).ready(function() {
                var table = $('#TabelRed').DataTable( {
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                } );
            } );
            $(document).ready( function () {
                $('#myTable').DataTable();
            } );
        </script>
        

    </h:body>

</html>
